{% extends 'admin.html.twig' %}

{% block title %}Ajouter la documentation{% endblock %}

{% block body %}
    <section class="block">
        <h2>Ajouter de la documentation</h2>
        {{ form_start(form) }}
            <p>
                {{ form_label(form.doc_file) }}<br />
                {{ form_widget(form.doc_file) }}
            </p>
            <p>
                {{ form_label(form.doc_product_id) }}<br />
                {{ form_widget(form.doc_product_id) }}
            </p>
            <p>{{ form_widget(form.submit) }}</p>
        {{ form_end(form) }}
    </section>
{% endblock %}