{% extends 'admin.html.twig' %}

{% block title %}Modifier une page{% endblock %}

{% block body %}
    <section class="block tab-container">
        <h2>Modifier un partenaire</h2>
        {{ form_start(form) }}
            <p>{{ form_label(form.name) }}<br />
                {{ form_widget(form.name,  {
                'value': partner_name
            }) }}</p>

            <p>{{ form_label(form.email) }}<br />
                {{ form_widget(form.email,  {
                'value': partner_email
            }) }}</p>

            <p>{{ form_label(form.partner_cat) }}<br />
                {{ form_widget(form.partner_cat,  {
                'value': partner_cat
            }) }}</p>

            <p>{{ form_label(form.adress) }}<br />
                {{ form_widget(form.adress,  {
                'value': partner_adress
            }) }}</p>

            <p>{{ form_label(form.postcode) }}<br />
                {{ form_widget(form.postcode,  {
                'value': partner_postcode
            }) }}</p>

            <p>{{ form_label(form.city) }}<br />
                {{ form_widget(form.city,  {
                'value': partner_city
            }) }}</p>

            <p>{{ form_label(form.website) }}<br />
                {{ form_widget(form.website,  {
                'value': partner_website
            }) }}</p>

            <p>{{ form_label(form.coord_long) }}<br />
                {{ form_widget(form.coord_long,  {
                'value': partner_coord_long
            }) }}</p>

            <p>{{ form_label(form.coord_lat) }}<br />
                {{ form_widget(form.coord_lat,  {
                'value': partner_coord_lat
            }) }}</p>

            {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </section>
{% endblock %}