{% extends 'admin.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}
    <section class="block tab-container">
        <h2>Ajouter un nouveau produit</h2>
        <ul class="tabs-btn tabs">
            <li><a class="tab active">Champs obligatoires</a></li>
            <li><a class="tab">Moteur 1</a></li>
            <li><a class="tab">Moteur 2</a></li>
            <li><a class="tab">Moteur 3</a></li>
            <li><a class="tab">Galeries</a></li>
            <li><a class="tab">Dimensions</a></li>
            <li><a class="tab">SEO</a></li>
        </ul>
        {{ form_start(form, { 'attr' : {'class': 'tab-panes'} }) }}
            <!-- Champs obligatoires -->
            <div class="tab-pane active">
                <p>{{ form_row(form.product_name) }}</p>
                <p>{{ form_label(form.product_lang) }}<br />
                {{ form_widget(form.product_lang) }}</p>
                <p>{{ form_row(form.product_logo_main) }}</p>
                <p>{{ form_row(form.product_logo_second) }}</p>
                <p>{{ form_row(form.product_main_thumb) }}</p>
                <p>{{ form_row(form.product_second_thumb) }}</p>
                <p>{{ form_label(form.product_capacity) }}<br />
                {{ form_widget(form.product_capacity) }}</p>
                <p>{{ form_label(form.product_wing) }}<br />
                {{ form_widget(form.product_wing) }}</p>
                <p>{{ form_label(form.product_tricycle) }}<br />
                {{ form_widget(form.product_tricycle) }}</p>
                <p>{{ form_row(form.product_desc) }}</p>
            </div>

            <!-- Moteur 1 -->
            <div class="tab-pane">
                <p>{{ form_row(form.product_motor_name_1)}}</p>
                <p>{{ form_row(form.product_motor_image_1)}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_1_block_1_icon)}}</p>
                <p>{{ form_row(form.product_motor_1_block_1_title)}}</p>
                <p>{{ form_row(form.product_motor_1_block_1_value)}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_1_block_2_icon)}}</p>
                <p>{{ form_row(form.product_motor_1_block_2_title)}}</p>
                <p>{{ form_row(form.product_motor_1_block_2_value)}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_1_block_3_icon)}}</p>
                <p>{{ form_row(form.product_motor_1_block_3_title)}}</p>
                <p>{{ form_row(form.product_motor_1_block_3_value)}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_1_block_4_icon)}}</p>
                <p>{{ form_row(form.product_motor_1_block_4_title)}}</p>
                <p>{{ form_row(form.product_motor_1_block_4_value)}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_vitesse_1)}}</p>
                <p>{{ form_row(form.product_motor_vol_1)}}</p>
                <p>{{ form_row(form.product_motor_hauteur_1)}}</p>
                <p>{{ form_row(form.product_motor_masse_1)}}</p>
                <p>{{ form_row(form.product_motor_moteur_1)}}</p>
                <p>{{ form_row(form.product_motor_reservoir_1)}}</p>
            </div>

            <!-- Moteur 2 -->
            <div class="tab-pane">
                <p>{{ form_row(form.product_motor_name_2)}}</p>
                <p>{{ form_row(form.product_motor_image_2)}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_2_block_1_icon)}}</p>
                <p>{{ form_row(form.product_motor_2_block_1_title)}}</p>
                <p>{{ form_row(form.product_motor_2_block_1_value)}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_2_block_2_icon)}}</p>
                <p>{{ form_row(form.product_motor_2_block_2_title)}}</p>
                <p>{{ form_row(form.product_motor_2_block_2_value)}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_2_block_3_icon)}}</p>
                <p>{{ form_row(form.product_motor_2_block_3_title)}}</p>
                <p>{{ form_row(form.product_motor_2_block_3_value)}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_2_block_4_icon)}}</p>
                <p>{{ form_row(form.product_motor_2_block_4_title)}}</p>
                <p>{{ form_row(form.product_motor_2_block_4_value)}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_vitesse_2)}}</p>
                <p>{{ form_row(form.product_motor_vol_2)}}</p>
                <p>{{ form_row(form.product_motor_hauteur_2)}}</p>
                <p>{{ form_row(form.product_motor_masse_2)}}</p>
                <p>{{ form_row(form.product_motor_moteur_2)}}</p>
                <p>{{ form_row(form.product_motor_reservoir_2)}}</p>
            </div>

            <!-- Moteur 3 -->
            <div class="tab-pane">
                <p>{{ form_row(form.product_motor_name_3)}}</p>
                <p>{{ form_row(form.product_motor_image_3)}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_3_block_1_icon)}}</p>
                <p>{{ form_row(form.product_motor_3_block_1_title)}}</p>
                <p>{{ form_row(form.product_motor_3_block_1_value)}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_3_block_2_icon)}}</p>
                <p>{{ form_row(form.product_motor_3_block_2_title)}}</p>
                <p>{{ form_row(form.product_motor_3_block_2_value)}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_3_block_3_icon)}}</p>
                <p>{{ form_row(form.product_motor_3_block_3_title)}}</p>
                <p>{{ form_row(form.product_motor_3_block_3_value)}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_3_block_4_icon)}}</p>
                <p>{{ form_row(form.product_motor_3_block_4_title)}}</p>
                <p>{{ form_row(form.product_motor_3_block_4_value)}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_vitesse_3)}}</p>
                <p>{{ form_row(form.product_motor_vol_3)}}</p>
                <p>{{ form_row(form.product_motor_hauteur_3)}}</p>
                <p>{{ form_row(form.product_motor_masse_3)}}</p>
                <p>{{ form_row(form.product_motor_moteur_3)}}</p>
                <p>{{ form_row(form.product_motor_reservoir_3)}}</p>
            </div>

            <!-- Galeries-->
            <div class="tab-pane">
                {{ form_row(form.product_gallery_vol)}}
                {{ form_row(form.product_gallery_atelier)}}
                {{ form_row(form.product_gallery_lifestyle)}}
            </div>

            <!-- Dimensions -->
            <div class="tab-pane">
                <p>{{ form_label(form.product_dim) }}<br />
                {{ form_widget(form.product_dim) }}</p>
            </div>

            <!-- SEO -->
            <div class="tab-pane">
                <p>{{ form_label(form.product_meta_title) }}<br />
                {{ form_widget(form.product_meta_title) }}</p>
                <p>{{ form_label(form.product_meta_desc) }}<br />
                {{ form_widget(form.product_meta_desc) }}</p>
            </div>

            <p>{{ form_widget(form.product_submit) }}</p>
        {{ form_end(form) }}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}