{% extends 'admin.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}
    <section class="block">
        <h2>Ajouter un nouveau produit</h2>
        <ul class="tabs-btn">
            <li><a class="selected">Résumé</a></li>
            <li><a>Description</a></li>
            <li><a>Caractéristiques</a></li>
            <li><a>Galerie d'images</a></li>
        </ul>
        {{ form_start(form) }}
            <p>{{ form_label(form.product_name) }}<br />
            {{ form_widget(form.product_name) }}</p>
            <p>{{ form_label(form.product_desc) }}<br />
            {{ form_widget(form.product_desc) }}</p>
            <p>{{ form_label(form.product_shop_url) }}<br />
            {{ form_widget(form.product_shop_url) }}</p>
            <p>{{ form_label(form.product_doc_url) }}<br />
            {{ form_widget(form.product_doc_url) }}</p>
            <p>{{ form_label(form.product_long_desc) }}<br />
            {{ form_widget(form.product_long_desc) }}</p>
            <p>{{ form_label(form.product_carac) }}<br />
            {{ form_widget(form.product_carac) }}</p>
        {{ form_end(form) }}
    </section>
{% endblock %}