{% extends 'admin.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}
    <section class="block tab-container">
        <h2>Ajouter un nouveau produit</h2>
        <ul class="tabs-btn tabs">
            <li><a class="tab active">Résumé</a></li>
            <li><a class="tab">Description</a></li>
            <li><a class="tab">Caractéristiques</a></li>
            <li><a class="tab">SEO</a></li>
        </ul>
        <p>
            <em>* Champs obligatoires</em>
        </p>
        {{ form_start(form, { 'attr' : {'class': 'tab-panes'} }) }}
            <!-- Résumé -->
            <div id="#resume" class="tab-pane active">
                <p>{{ form_label(form.product_name) }}<br />
                {{ form_widget(form.product_name) }}</p>
                <p><label for="product_form_product_3d_model">Modèle 3D *</label><br />
                {{ form_widget(form.product_3d_model, {
                    required: true
                }) }}</p>
                <p>{{ form_label(form.product_desc) }}<br />
                {{ form_widget(form.product_desc) }}</p>
                <p>{{ form_label(form.product_shop_url) }}<br />
                {{ form_widget(form.product_shop_url) }}</p>
                <p>{{ form_label(form.product_doc_url) }}<br />
                {{ form_widget(form.product_doc_url) }}</p>
            </div>

            <!-- Description -->
            <div id="#description" class="tab-pane">
                <p>{{ form_label(form.product_long_desc) }}<br />
                {{ form_widget(form.product_long_desc) }}</p>
            </div>

            <!-- Caractéristiques -->
            <div id="#caracteristiques" class="tab-pane">
                <p>{{ form_label(form.product_carac) }}<br />
                {{ form_widget(form.product_carac) }}</p>
            </div>

            <!-- SEO -->
            <div id="#images" class="tab-pane">
                <p>{{ form_label(form.product_meta_title) }}<br />
                {{ form_widget(form.product_meta_title) }}</p>
                <p>{{ form_label(form.product_meta_desc) }}<br />
                {{ form_widget(form.product_meta_desc) }}</p>
            </div>

            <p>{{ form_widget(form.product_submit) }}</p>
        {{ form_end(form) }}
    </section>
{% endblock %}