{% extends 'admin.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <section class="block tab-container">
        <a class="btn-link float-right" href="{{ path('app_admin_products_add') }}">Créer un produit</a>
        <h2>Liste des produits</h2>
        <ul class="tabs tabs-btn">
            <li><a class="tab active">Français</a></li>
            <li><a class="tab">English</a></li>
        </ul>
        <div class="tab-panes">
            <div class="tab-pane active">
                {% for product in products %}
                    {% if product.productlang == 'fr' %}
                    <div class="line">
                        <p>{{ product.productname }}</p>
                        <ul>
                            <li><a href="" target="_blank" rel="noopener">Voir</a></li>
                            <li><a href="{{ path('app_admin_products_update', {product_id: product.id}) }}">Modifier</a></li>
                            <li><a href="{{ path('app_admin_product_delete', {product_id: product.id}) }}">Supprimer</a></li>
                        </ul>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane">
                {% for product in products %}
                    {% if product.productlang == 'en' %}
                    <div class="line">
                        <p>{{ product.productname }}</p>
                        <ul>
                            <li><a href="" target="_blank" rel="noopener">Voir</a></li>
                            <li><a href="{{ path('app_admin_products_update', {product_id: product.id}) }}">Modifier</a></li>
                            <li><a href="{{ path('app_admin_product_delete', {product_id: product.id}) }}">Supprimer</a></li>
                        </ul>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
