{% extends 'admin.html.twig' %}

{% block title %}Modifier un produit{% endblock %}

{% block body %}
    <section class="block tab-container">
        <h2>Modifier un produit</h2>
        <ul class="tabs-btn tabs">
            <li><a class="tab active">Résumé</a></li>
            <li><a class="tab">Description</a></li>
            <li><a class="tab">Caractéristiques</a></li>
            <li><a class="tab">Images</a></li>
            <li><a class="tab">SEO</a></li>
        </ul>
        {{ form_start(form, { 'attr' : {'class': 'tab-panes'} }) }}
            <!-- Résumé -->
            <div class="tab-pane active">
                <p>
                    {{ form_label(form.product_name) }}<br />
                    {{ form_widget(form.product_name) }}
                </p>
                <p>
                    {{ form_label(form.product_thumb) }}<br />
                    {{ form_widget(form.product_thumb) }}
                </p>
                <p>
                    {{ form_label(form.product_intro) }}<br />
                    {{ form_widget(form.product_intro) }}
                </p>
            </div>

            <!-- Description -->
            <div class="tab-pane">
                <p>
                    {{ form_label(form.product_desc) }}<br />
                    {{ form_widget(form.product_desc) }}
                </p>
            </div>

            <!-- Caractéristiques -->
            <div class="tab-pane">
                <p>
                    {{ form_label(form.product_envergure) }}<br />
                    {{ form_widget(form.product_envergure) }}
                </p>
                <p>
                    {{ form_label(form.product_surface_alaire) }}<br />
                    {{ form_widget(form.product_surface_alaire) }}
                </p>
                <p>
                    {{ form_label(form.product_surface) }}<br />
                    {{ form_widget(form.product_surface) }}
                </p>
                <p>
                    {{ form_label(form.product_charge) }}<br />
                    {{ form_widget(form.product_charge) }}
                </p>
                <p>
                    {{ form_label(form.product_masse) }}<br />
                    {{ form_widget(form.product_masse) }}
                </p>
                <p>
                    {{ form_label(form.product_masse_max) }}<br />
                    {{ form_widget(form.product_masse_max) }}
                </p>
                <p>
                    {{ form_label(form.product_motor_type) }}<br />
                    {{ form_widget(form.product_motor_type) }}
                </p>
                <p>
                    {{ form_label(form.product_motor_pouls) }}<br />
                    {{ form_widget(form.product_motor_pouls) }}
                </p>
                <p>
                    {{ form_label(form.product_speed_min) }}<br />
                    {{ form_widget(form.product_speed_min) }}
                </p>
                <p>
                    {{ form_label(form.product_speed_max) }}<br />
                    {{ form_widget(form.product_speed_max) }}
                </p>
                <p>
                    {{ form_label(form.product_elec_conso) }}<br />
                    {{ form_widget(form.product_elec_conso) }}
                </p>
                <p>
                    {{ form_label(form.product_fly_dist) }}<br />
                    {{ form_widget(form.product_fly_dist) }}
                </p>
                <p>
                    {{ form_label(form.product_fly_amount) }}<br />
                    {{ form_widget(form.product_fly_amount) }}
                </p>
                <p>
                    {{ form_label(form.product_color) }}<br />
                    {{ form_widget(form.product_color) }}
                </p>
            </div>

            <!-- Images-->
            <div class="tab-pane">
                <p>
                    {{ form_label(form.product_color_imgs) }}<br />
                    {{ form_widget(form.product_color_imgs) }}
                </p>
                <p>
                    {{ form_label(form.product_access_imgs) }}<br />
                    {{ form_widget(form.product_access_imgs) }}
                </p>
                <p>
                    {{ form_label(form.product_gallery_imgs) }}<br />
                    {{ form_widget(form.product_gallery_imgs) }}
                </p>
            </div>

            <!-- SEO -->
            <div class="tab-pane">
                <p>
                    {{ form_label(form.product_meta_title) }}<br />
                    {{ form_widget(form.product_meta_title) }}
                </p>
                <p>
                    {{ form_label(form.product_meta_desc) }}<br />
                    {{ form_widget(form.product_meta_desc) }}
                </p>
            </div>
            <p>{{ form_widget(form.product_submit) }}</p>
        {{ form_end(form) }}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        CKEDITOR.instances["product_product_intro"].destroy();
        CKEDITOR.replace( 'product_product_intro', {
        	startupMode: 'wysiwyg'
        });
        CKEDITOR.instances["product_product_desc"].destroy();
        CKEDITOR.replace( 'product_product_desc', {
        	startupMode: 'wysiwyg'
        });
    </script>
{% endblock %}