{% extends 'admin.html.twig' %}

{% block title %}Modifier un produit{% endblock %}

{% block body %}
    <section class="block tab-container">
        <h2>Modifier un produit</h2>
        <ul class="tabs-btn tabs">
            <li><a class="tab active">Résumé</a></li>
            <li><a class="tab">Coloris</a></li>
            <li><a class="tab">Accessoires</a></li>
            <li><a class="tab">Galerie d'images</a></li>
            <li><a class="tab">Description</a></li>
            <li><a class="tab">Caractéristiques</a></li>
            <li><a class="tab">SEO</a></li>
        </ul>
        <p>
            <em>* Champs obligatoires</em>
        </p>
        {{ form_start(form, { 'attr' : {'class': 'tab-panes'} }) }}
            <!-- Résumé -->
            <div id="#resume" class="tab-pane active">
                <p>{{ form_label(form.product_name) }}<br />
                {{ form_widget(form.product_name,  {
                    'value': productName
                }) }}</p>

                <p>{{ form_label(form.product_thumbnail) }}<br />
                {{ form_widget(form.product_thumbnail, {
                    'required': false
                }) }}</p>

                <p>{{ form_label(form.product_desc) }}<br />
                {{ form_widget(form.product_desc,  {
                    'value': productIntroFile
                }) }}</p>

                <p>{{ form_label(form.product_shop_url) }}<br />
                {{ form_widget(form.product_shop_url,  {
                    'value': productShopUrl
                }) }}</p>

                <p>{{ form_label(form.product_doc_url) }}<br />
                {{ form_widget(form.product_doc_url,  {
                    'value': productDocUrl
                }) }}</p>
            </div>

            <!-- Coloris -->
            <div class="tab-pane">
                <h3>Ajouter de nouveaux coloris</h3>
                <p>{{ form_widget(form.product_coloris) }}</p>
                <h3>Coloris existants</h3>
                {% for image in images %}
                    {% if image.imagetype == 0 %}
                    <div class="line">
                        <p>{{ image.imagename }}</p>
                        <ul>
                            <li><a href="{{ path('app_admin_image_delete', {folder: 'coloris', image_file: image.imagename}) }}">Supprimer</a></li>
                        </ul>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

            <!-- Accessoires -->
            <div class="tab-pane">
                <h3>Ajouter de nouveaux accessoires</h3>
                <p>{{ form_widget(form.product_accessoiries) }}</p>
                <h3>Accessoires existants</h3>
                {% for image in images %}
                    {% if image.imagetype == 1 %}
                    <div class="line">
                        <p>{{ image.imagename }}</p>
                        <ul>
                            <li><a href="{{ path('app_admin_image_delete', {folder: 'accessoiries', image_file: image.imagename}) }}">Supprimer</a></li>
                        </ul>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

            <!-- Images -->
            <div class="tab-pane">
                <h3>Ajouter de nouvelles images</h3>
                <p>{{ form_widget(form.product_gallery) }}</p>
                <h3>Images actielles</h3>
                {% for image in images %}
                    {% if image.imagetype == 2 %}
                    <div class="line">
                        <p>{{ image.imagename }}</p>
                        <ul>
                            <li><a href="{{ path('app_admin_image_delete', {folder: 'gallery', image_file: image.imagename}) }}">Supprimer</a></li>
                        </ul>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

            <!-- Description -->
            <div id="#description" class="tab-pane">
                <p>{{ form_label(form.product_long_desc) }}<br />
                {{ form_widget(form.product_long_desc,  {
                    'value': productDescFile
                }) }}</p>
            </div>

            <!-- Caractéristiques -->
            <div id="#caracteristiques" class="tab-pane">
                <p>{{ form_label(form.product_carac) }}<br />
                {{ form_widget(form.product_carac,  {
                    'value': productCaracFile
                }) }}</p>
            </div>

            <!-- SEO -->
            <div id="#seo" class="tab-pane">
                <p>{{ form_label(form.product_meta_title) }}<br />
                {{ form_widget(form.product_meta_title,  {
                    'value': productMetaTitle
                }) }}</p>

                <p>{{ form_label(form.product_meta_desc) }}<br />
                {{ form_widget(form.product_meta_desc,  {
                    'value': productMetaDesc
                }) }}</p>
            </div>

            <p>{{ form_widget(form.product_submit) }}</p>
        {{ form_end(form) }}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        CKEDITOR.instances["product_form_product_desc"].destroy();
        CKEDITOR.replace( 'product_form_product_desc', {
        	startupMode: 'wysiwyg'
        });
        CKEDITOR.instances["product_form_product_long_desc"].destroy();
        CKEDITOR.replace( 'product_form_product_long_desc', {
        	startupMode: 'wysiwyg'
        });
        CKEDITOR.instances["product_form_product_carac"].destroy();
        CKEDITOR.replace( 'product_form_product_carac', {
        	startupMode: 'wysiwyg'
        });
    </script>
{% endblock %}