{% extends 'admin.html.twig' %}

{% block title %}Modifier un produit{% endblock %}

{% block body %}
    <section class="block tab-container">
        <h2>Modifier un produit</h2>
        <ul class="tabs-btn tabs">
            <li><a class="tab active">Champs obligatoires</a></li>
            <li><a class="tab">Moteur 1</a></li>
            <li><a class="tab">Moteur 2</a></li>
            <li><a class="tab">Moteur 3</a></li>
            <li><a class="tab">Galeries</a></li>
            <li><a class="tab">Dimensions</a></li>
            <li><a class="tab">SEO</a></li>
        </ul>
        {{ form_start(form, { 'attr' : {'class': 'tab-panes'} }) }}
            <!-- Champs obligatoires -->
            <div class="tab-pane active">
                <p>{{ form_row(form.product_name) }}</p>
                <p>{{ form_row(form.product_logo_main, { required: false }) }}</p>
                <p>{{ form_row(form.product_logo_second, { required: false }) }}</p>
                <p>{{ form_row(form.product_main_thumb, { required: false }) }}</p>
                <p>{{ form_row(form.product_second_thumb, { required: false }) }}</p>
                <p>{{ form_label(form.product_capacity) }}<br />
                {{ form_widget(form.product_capacity) }}</p>
                <p>{{ form_label(form.product_wing) }}<br />
                {{ form_widget(form.product_wing) }}</p>
                <p>{{ form_label(form.product_tricycle) }}<br />
                {{ form_widget(form.product_tricycle) }}</p>
                <p>{{ form_row(form.product_intro) }}</p>
                <p>{{ form_row(form.product_desc) }}</p>
            </div>

            <!-- Moteur 1 -->
            <div class="tab-pane">
                <p>{{ form_row(form.product_motor_name_1, { value: motor1Name
                })}}</p>
                <p>{{ form_row(form.product_motor_image_1)}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_1_block_1_icon)}}</p>
                <p>{{ form_row(form.product_motor_1_block_1_title, { value: motor1Block1Title
                })}}</p>
                <p>{{ form_row(form.product_motor_1_block_1_value, { value: motor1Block1Value
                })}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_1_block_2_icon)}}</p>
                <p>{{ form_row(form.product_motor_1_block_2_title, { value: motor1Block2Title
                })}}</p>
                <p>{{ form_row(form.product_motor_1_block_2_value, { value: motor1Block2Value
                })}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_1_block_3_icon)}}</p>
                <p>{{ form_row(form.product_motor_1_block_3_title, { value: motor1Block3Title
                })}}</p>
                <p>{{ form_row(form.product_motor_1_block_3_value, { value: motor1Block3Value
                })}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_1_block_4_icon)}}</p>
                <p>{{ form_row(form.product_motor_1_block_4_title, { value: motor1Block4Title
                })}}</p>
                <p>{{ form_row(form.product_motor_1_block_4_value, { value: motor1Block4Value
                })}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_vitesse_1, { value: motor1Vitesse
                })}}</p>
                <p>{{ form_row(form.product_motor_vol_1, { value: motor1Vol
                })}}</p>
                <p>{{ form_row(form.product_motor_hauteur_1, { value: motor1Hauteur
                })}}</p>
                <p>{{ form_row(form.product_motor_masse_1, { value: motor1Masse
                })}}</p>
                <p>{{ form_row(form.product_motor_moteur_1, { value: motor1Moteur
                })}}</p>
                <p>{{ form_row(form.product_motor_reservoir_1, { value: motor1Reservoir
                })}}</p>
            </div>

            <!-- Moteur 2 -->
            <div class="tab-pane">
                <p>{{ form_row(form.product_motor_name_2, { value: motor2Name
                })}}</p>
                <p>{{ form_row(form.product_motor_image_2)}}</p>
                
                <hr />

                <p>{{ form_row(form.product_motor_2_block_1_icon)}}</p>
                <p>{{ form_row(form.product_motor_2_block_1_title, { value: motor2Block1Title
                })}}</p>
                <p>{{ form_row(form.product_motor_2_block_1_value, { value: motor2Block1Value
                })}}</p>

                <hr />

                <p>{{ form_row(form.product_motor_2_block_2_icon)}}</p>
                <p>{{ form_row(form.product_motor_2_block_2_title, { value: motor2Block2Title
                })}}</p>
                <p>{{ form_row(form.product_motor_2_block_2_value, { value: motor2Block2Value
                })}}</p>
            
                <hr />

                <p>{{ form_row(form.product_motor_2_block_3_icon)}}</p>
                <p>{{ form_row(form.product_motor_2_block_3_title, { value: motor2Block3Title
                })}}</p>
                <p>{{ form_row(form.product_motor_2_block_3_value, { value: motor2Block3Value
                })}}</p>
                
                <hr />

                <p>{{ form_row(form.product_motor_2_block_4_icon)}}</p>
                <p>{{ form_row(form.product_motor_2_block_4_title, { value: motor2Block4Title
                })}}</p>
                <p>{{ form_row(form.product_motor_2_block_4_value, { value: motor2Block4Value
                })}}</p>
                
                <hr />
                
                <p>{{ form_row(form.product_motor_vitesse_2, { value: motor2Vitesse })}}</p>
                <p>{{ form_row(form.product_motor_vol_2, { value: motor2Vol })}}</p>
                <p>{{ form_row(form.product_motor_hauteur_2, { value: motor2Hauteur })}}</p>
                <p>{{ form_row(form.product_motor_masse_2, { value: motor2Masse
                })}}</p>
                <p>{{ form_row(form.product_motor_moteur_2, { value: motor2Moteur
                })}}</p>
                <p>{{ form_row(form.product_motor_reservoir_2, { value: motor2Reservoir
                })}}</p>
            </div>

            <!-- Moteur 3 -->
            <div class="tab-pane">
                <p>{{ form_row(form.product_motor_name_3, { value: motor3Name })}}</p>
                <p>{{ form_row(form.product_motor_image_3)}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_3_block_1_icon)}}</p>
                <p>{{ form_row(form.product_motor_3_block_1_title, { value: motor3Name })}}</p>
                <p>{{ form_row(form.product_motor_3_block_1_value, { value: motor3Block1Value })}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_3_block_2_icon)}}</p>
                <p>{{ form_row(form.product_motor_3_block_2_title, { value: motor3Block2Title })}}</p>
                <p>{{ form_row(form.product_motor_3_block_2_value, { value: motor3Block2Value })}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_3_block_3_icon)}}</p>
                <p>{{ form_row(form.product_motor_3_block_3_title, { value: motor3Block3Title })}}</p>
                <p>{{ form_row(form.product_motor_3_block_3_value, { value: motor3Block3Value })}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_3_block_4_icon)}}</p>
                <p>{{ form_row(form.product_motor_3_block_4_title, { value: motor3Block4Title })}}</p>
                <p>{{ form_row(form.product_motor_3_block_4_value, { value: motor3Block4Value })}}</p>
                <hr />
                <p>{{ form_row(form.product_motor_vitesse_3, { value: motor3Vitesse })}}</p>
                <p>{{ form_row(form.product_motor_vol_3, { value: motor3Vol })}}</p>
                <p>{{ form_row(form.product_motor_hauteur_3, { value: motor3Hauteur })}}</p>
                <p>{{ form_row(form.product_motor_masse_3, { value: motor3Masse })}}</p>
                <p>{{ form_row(form.product_motor_moteur_3, { value: motor3Moteur })}}</p>
                <p>{{ form_row(form.product_motor_reservoir_3, { value: motor3Reservoir })}}</p>
            </div>

            <!-- Galeries-->
            <div class="tab-pane">
                {{ form_row(form.product_gallery_vol)}}
                {{ form_row(form.product_gallery_atelier)}}
                {{ form_row(form.product_gallery_lifestyle)}}
                <hr />
                <p>Cliquez sur une image pour la supprimer !<br />
                Attention ! Toute image supprimée ne peut être récupérée.</p>
                <div class="thumbs-container">
                    <h3>En vol</h3>
                    {% for image in product.imageproduct %}
                        {% if image.imagetype == 0 %}
                        <figure class="thumb">
                            <a href="{{ path('app_admin_delete_image', {product_id: product.id, id: image.id}) }}">
                                <img loading="lazy" decoding="async" src="../../../uploads/images/products/carousels/fly/{{ image.imagename }}" />
                            </a>
                        </figure>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="thumbs-container">
                    <h3>Atelier</h3>
                    {% for image in product.imageproduct %}
                        {% if image.imagetype == 1 %}
                        <figure class="thumb">
                            <a href="{{ path('app_admin_delete_image', {product_id: product.id, id: image.id}) }}">
                               <img loading="lazy" decoding="async" src="../../../uploads/images/products/carousels/workshop/{{ image.imagename }}" />
                            </a>
                        </figure>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="thumbs-container">
                    <h3>Lifestyle</h3>
                    {% for image in product.imageproduct %}
                        {% if image.imagetype == 2 %}
                        <figure class="thumb">
                            <a href="{{ path('app_admin_delete_image', {product_id: product.id, id: image.id}) }}">
                              <img loading="lazy" decoding="async" src="../../../uploads/images/products/carousels/lifestyle/{{ image.imagename }}" />
                            </a>
                        </figure>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <!-- Dimensions -->
            <div class="tab-pane">
                <p>{{ form_label(form.product_dim) }}<br />
                {{ form_widget(form.product_dim) }}</p>
            </div>

            <!-- SEO -->
            <div class="tab-pane">
                <p>{{ form_label(form.product_meta_title) }}<br />
                {{ form_widget(form.product_meta_title) }}</p>
                <p>{{ form_label(form.product_meta_desc) }}<br />
                {{ form_widget(form.product_meta_desc) }}</p>
            </div>

            <p>{{ form_widget(form.product_submit) }}</p>
        {{ form_end(form) }}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        CKEDITOR.instances["product_product_intro"].destroy();
        CKEDITOR.replace( 'product_product_intro', {
        	startupMode: 'wysiwyg'
        });
        CKEDITOR.instances["product_product_desc"].destroy();
        CKEDITOR.replace( 'product_product_desc', {
        	startupMode: 'wysiwyg'
        });
    </script>
{% endblock %}