<div class="cover-video">
  <video autoplay loop muted>
    <source src="./uploads/videos/video-home.mp4" type="video/mp4">
    <p>Votre navigateur ne prend pas en charge les vidéos HTML5.<br />
      <a href="myVideo.mp4">Voici un lien pour télécharger la vidéo</a>.</p>
  </video>
</div>

<!-- Block Intro -->
<section class="home-intro-block">
  <div class="text">
    <h1 data-aos="fade-up">Air Création<br />
      Leader mondial de l'ULM pendulaire depuis 1982
    </h1>
    <p data-aos="fade-up">Air Création est l'une des premières sociétés françaises de conception et de fabrication d'aéronefs, le leader mondial de l’ULM Pendulaires (deltaplanes motorisés - DPM) n'a cessé de faire progresser ses produits afin d'optimiser confort & performance de vol.</p>
    <p data-aos="fade-up">L'importante gamme d'ailes et de tricycles proposée par le constructeur Ardéchois permet d'offrir à chaque client une combinaison parfaitement adapté à ses besoins, que ce soit dans un but purement récréatif ou à titre professionnel (formation, baptêmes, photographie, surveillance, largage de parachutiste, expérimentation scientifique, compétition, …).</p>
    <p data-aos="fade-up">Les 40 années de savoir-faire et d'expérience des équipes associée à l'utilisation de technologies de pointe ont permis de créer des aéronefs de plus en plus performants, de plus en plus fiables, de plus en plus confortables, de plus en plus économiques.</p>
    <p data-aos="fade-up">Les ULM Air création étant présents sur tous les continents, cela en fait une réelle vitrine du savoir-faire aéronautique français.</p>
    <p data-aos="fade-up"><a class="btn" href="{{ path('web_pages', {page_slug: 'showroom'}) }}">En savoir plus</a></p>
  </div>
  <figure class="image">
    <img src="./uploads/images/pages/home/img-block-1.jpg" alt="Présentation de Air Création" />
  </figure>
</section>

<!-- Block Infos 0 -->
<section class="home-block-infos-0">
  <div class="icons-blocks-container">
    <div class="icons-block">
      <i class="fa-solid fa-thumbs-up fa-4x"></i>
      <h2>Passion</h2>
    </div>
    <div class="icons-block">
      <i class="fa-solid fa-arrow-trend-up fa-4x"></i>
      <h2>Innovation</h2>
    </div>
    <div class="icons-block">
      <i class="fa-solid fa-clock fa-4x"></i>
      <h2>Durabilité</h2>
    </div>
    <div class="icons-block">
      <i class="fa-solid fa-shield-halved fa-4x"></i>
      <h2>Sécurité</h2>
    </div>
    <div class="icons-block">
      <i class="fa-solid fa-star fa-4x"></i>
      <h2>Qualité</h2>
    </div>
  </div>
  <p class="center">
    <a class="btn" href="{{ path('web_pages', {page_slug: 'nos-valeurs'}) }}">Les valeurs de Air Création</a>
  </p>
</section>

<!-- Parallax -->
<figure class="parallax">
  <img class="parallax-image" data-height="75vh" data-speed="0.5" src="./uploads/images/pages/home/img-cover-1.jpg" alt="Présentation de Air Création" />
</figure>

<!-- Block Infos 1 -->
<section class="home-block-infos-1">
  <!-- Slider Links Mobile -->
  <div class="swiper slider-mobile-container">
    <div class="swiper-wrapper">
      <div class="block-slider swiper-slide">
        <a>
          <h2>
            Distributeur<br />
            Où nous trouver ?
          </h2>
        </a>
        <figure class="image">
          <img src="./uploads/images/pages/home/img-link-partners.jpg" />
        </figure>
      </div>
      <div class="block-slider swiper-slide">
        <a>
          <h2>
            Centre de formation<br />
            Où vous former ?
          </h2>
        </a>
        <figure class="image">
          <img src="./uploads/images/pages/home/img-link-practice.jpg" />
        </figure>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <!-- Slider Links Desktop -->
  <div class="slider-desktop-container">
    <div class="block-slider">
      <a>
        <h2>
          Distributeur<br />
          Où nous trouver ?
        </h2>
      </a>
      <figure class="image">
        <img src="./uploads/images/pages/home/img-link-partners.jpg" />
      </figure>
    </div>
    <div class="block-slider">
      <a>
        <h2>
          Centre de formation<br />
          Où vous former ?
        </h2>
      </a>
      <figure class="image">
        <img src="./uploads/images/pages/home/img-link-practice.jpg" />
      </figure>
    </div>
  </div>

  <hr />
  
  <!-- Icons Blocks -->
  <div class="icons-blocks-container">
    <article class="icons-block">
      <i class="fa-solid fa-pen-ruler fa-4x"></i>
      <h3>Une réalisation sur-mesure</h3>
      <p>Configurer l’ULM de vos rêves !</p>
    </article>
    <article class="icons-block">
      <i class="fa-solid fa-cart-shopping fa-4x"></i>
      <h3>Shop</h3>
      <p>Retrouvez toutes les pièces détachées<br />
        <a href="https://shop.aircreation.fr" rel="noopener" target="blank">Voir notre boutique en ligne</a></p>
    </article>
    <article class="icons-block">
      <i class="fa-solid fa-shop fa-4x"></i>
      <h3>Occasion</h3>
      <p>Trouvez l'occasion qu'il vous faut<br />
        <a href="https://shop.aircreation.fr/-les-occasions-air-creation" rel="noopener" target="blank">Voir nos produits d'occasions</a></p>
    </article>
    <article class="icons-block">
      <i class="fa-solid fa-gear fa-4x"></i>
      <h3>Maintenance</h3>
      <p>Confier l’entretien de votre Air Création révision ou réparation à notre réseau de maintenance.</p>
    </article>
  </div>
</section>

<!-- Parallax -->
<figure class="parallax">
  <img class="parallax-image" data-height="75vh" data-speed="0.5" src="./uploads/images/pages/home/img-cover-2.jpg" alt="Présentation de Air Création" />
</figure>

<!-- Community Block -->
<section class="social">
  <!-- Dernières actualités -->
  <div class="swiper posts">
    <h2>Dernières actualités</h2>
    <div class="swiper-wrapper">
      {% for post in posts %}
      <article class="swiper-slide post-block">
        <div class="image">
          <img src="../uploads/images/posts/{{ post.photofilename }}" alt='{{ post.postname }}' />
        </div>
        <div class="content">
          <h3>{{ post.postname }}</h3>
          <p>
            <a href="{{ post.posturl }}" class="btn">Lire l'article</a>
          </p>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
  <!-- Instagram -->
  <div class="instagram-container">
    <h2>Identifiez nous #aircreationtrike</h2>
    <iframe src="https://widget.taggbox.com/113035" style="width:100%;height:50rem;border:none;"></iframe>
  </div>
</section>