<div class="cover-video">
  <video autoplay loop muted>
    <source src="./uploads/videos/video-home.mp4" type="video/mp4">
    <p>Votre navigateur ne prend pas en charge les vidéos HTML5.<br />
      <a href="myVideo.mp4">Voici un lien pour télécharger la vidéo</a>.</p>
  </video>
</div>

<!-- Block Intro -->
<section class="home-intro-block">
  <div class="text">
    <h1 data-aos="fade-zoom-in">Air Création<br />
      Leader mondial de l'ULM pendulaire depuis 1982
    </h1>
    <p>Air Création est l'une des premières sociétés françaises de conception et de fabrication d'aéronefs, le leader mondial de l’ULM Pendulaires (deltaplanes motorisés - DPM) n'a cessé de faire progresser ses produits afin d'optimiser confort & performance de vol.</p>
    <p>L'importante gamme d'ailes et de tricycles proposée par le constructeur Ardéchois permet d'offrir à chaque client une combinaison parfaitement adapté à ses besoins, que ce soit dans un but purement récréatif ou à titre professionnel (formation, baptêmes, photographie, surveillance, largage de parachutiste, expérimentation scientifique, compétition, …).</p>
    <p>Les 40 années de savoir-faire et d'expérience des équipes associée à l'utilisation de technologies de pointe ont permis de créer des aéronefs de plus en plus performants, de plus en plus fiables, de plus en plus confortables, de plus en plus économiques.</p>
    <p>Les ULM Air création étant présents sur tous les continents, cela en fait une réelle vitrine du savoir-faire aéronautique français.</p>
    <p>Nos valeurs : Passion - Innovation - Durabilité - Sécurité - Qualité</p>
  </div>
  <figure class="image">
    <img src="./uploads/images/pages/home/img-block-1.jpg" alt="Présentation de Air Création" />
  </figure>
</section>

<!-- Parallax -->
<div class="parallax"></div>

<!-- Block Infos 1 -->
<section class="home-block-infos-1">
  <!-- Slider Links Mobile -->
  <div class="swiper slider-mobile-container">
    <div class="swiper-wrapper">
      <div class="block-slider swiper-slide">
        <a>
          <h2>
            Distributeur<br />
            Où nous trouver ?
          </h2>
        </a>
        <figure class="image">
          <img src="./uploads/images/pages/home/img-link-partners.jpg" />
        </figure>
      </div>
      <div class="block-slider swiper-slide">
        <a>
          <h2>
            Centre de formation<br />
            Où vous former ?
          </h2>
        </a>
        <figure class="image">
          <img src="./uploads/images/pages/home/img-link-practice.jpg" />
        </figure>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <!-- Slider Links Desktop -->
  <div class="slider-desktop-container">
    <div class="block-slider">
      <a>
        <h2>
          Distributeur<br />
          Où nous trouver ?
        </h2>
      </a>
      <figure class="image">
        <img src="./uploads/images/pages/home/img-link-partners.jpg" />
      </figure>
    </div>
    <div class="block-slider">
      <a>
        <h2>
          Centre de formation<br />
          Où vous former ?
        </h2>
      </a>
      <figure class="image">
        <img src="./uploads/images/pages/home/img-link-practice.jpg" />
      </figure>
    </div>
  </div>

  <!-- Icons Blocks -->
  <div class="icons-blocks-container">
    <article class="icons-block">
      <svg xmlns="http://www.w3.org/2000/svg" height="108" width="108" viewBox="0 0 50 50"><path d="M8.3 42v-4.7h6.35l-5.3-18.1q-1.6-.75-2.5-2.025-.9-1.275-.9-3.375 0-2.35 1.725-4.075T11.75 8q2.2 0 3.65 1.175 1.45 1.175 1.95 3.125h7.3V9.35q0-.6.45-1.05.45-.45 1.05-.45.55 0 .925.425t.375.975l3.75-3.6q.4-.4 1.025-.525Q32.85 5 33.5 5.3l7.9 3.8q.45.25.625.7.175.45-.075.95-.25.5-.725.6-.475.1-.925-.15l-7.75-3.75-4.9 4.95V15l4.9 5.15 7.75-3.8q.5-.25.95-.125.45.125.7.625.25.5.075 1t-.675.75l-7.65 3.6q-.7.35-1.35.325Q31.7 22.5 31.2 22l-3.75-3.6q0 .7-.375 1.05-.375.35-.925.35-.6 0-1.05-.45-.45-.45-.45-1.05v-3h-7.4q0 .6-.325 1.225-.325.625-.775 1.025L26.4 37.3h7.9V42Zm3.45-25.4q1.2 0 2-.8t.8-2q0-1.2-.8-2t-2-.8q-1.2 0-2 .8t-.8 2q0 1.2.8 2t2 .8Zm6.2 20.7h5.1L13.6 18.95q-.15.1-.5.2t-.55.15Zm5.1 0Z"/></svg>
      <h3>Une réalisation sur-mesure</h3>
      <p>Configurer l’ULM de vos rêves !</p>
    </article>
    <article class="icons-block">
      <svg xmlns="http://www.w3.org/2000/svg" height="108" width="108" viewBox="0 0 50 50"><path d="M14.35 43.95q-1.5 0-2.55-1.05-1.05-1.05-1.05-2.55 0-1.5 1.05-2.55 1.05-1.05 2.55-1.05 1.5 0 2.55 1.05 1.05 1.05 1.05 2.55 0 1.5-1.05 2.55-1.05 1.05-2.55 1.05Zm20 0q-1.5 0-2.55-1.05-1.05-1.05-1.05-2.55 0-1.5 1.05-2.55 1.05-1.05 2.55-1.05 1.5 0 2.55 1.05 1.05 1.05 1.05 2.55 0 1.5-1.05 2.55-1.05 1.05-2.55 1.05Zm-22.6-33 5.5 11.4h14.4l6.25-11.4Zm-1.5-3H39.7q1.15 0 1.75 1.05.6 1.05 0 2.1L34.7 23.25q-.55.95-1.425 1.525t-1.925.575H16.2l-2.8 5.2h24.55v3h-24.1q-2.1 0-3.025-1.4-.925-1.4.025-3.15l3.2-5.9L6.45 7h-3.9V4H8.4Zm7 14.4h14.4Z"/></svg>
      <h3>Shop</h3>
      <p>Retrouvez toutes les pièces détachées<br />
        <a href="https://shop.aircreation.fr" rel="noopener" target="blank">Voir notre boutique en ligne</a></p>
    </article>
    <article class="icons-block">
      <svg xmlns="http://www.w3.org/2000/svg" height="108" width="108" viewBox="0 0 50 50"><path d="M8 11V8h32.1v3Zm.25 29V27.1H5.8v-3L8 14h32.05l2.2 10.1v3H39.8V40h-3V27.1h-9.45V40Zm3-3h13.1v-9.9h-13.1Zm-2.5-12.9H39.3Zm0 0H39.3L37.75 17H10.3Z"/></svg>
      <h3>Occasion</h3>
      <p>Trouvez l'occasion qu'il vous faut<br />
        <a href="https://shop.aircreation.fr/-les-occasions-air-creation" rel="noopener" target="blank">Voir nos produits d'occasions</a></p>
    </article>
    <article class="icons-block">
      <svg xmlns="http://www.w3.org/2000/svg" height="108" width="108" viewBox="0 0 50 50"><path d="M2.1 42v-4.6q0-1.7.8-2.825.8-1.125 2.25-1.825 2.7-1.3 5.775-2.15 3.075-.85 6.975-.85 3.9 0 6.975.85 3.075.85 5.775 2.15 1.45.7 2.25 1.825t.8 2.825V42Zm3-3h25.6v-1.6q0-.75-.425-1.225-.425-.475-1.025-.725-2.15-.95-4.8-1.825t-6.55-.875q-3.9 0-6.55.875t-4.8 1.825q-.6.25-1.025.725Q5.1 36.65 5.1 37.4Zm12.8-12.25q-3.3 0-5.4-2.15-2.1-2.15-2.1-5.35h-.5q-.4 0-.7-.3-.3-.3-.3-.7 0-.4.3-.7.3-.3.7-.3h.5q0-2 1-3.6t2.6-2.6V13q0 .3.225.525.225.225.525.225.35 0 .55-.225.2-.225.2-.525v-2.6q.4-.1 1.1-.175.7-.075 1.35-.075.65 0 1.35.075.7.075 1.1.175V13q0 .3.2.525.2.225.55.225.3 0 .525-.225.225-.225.225-.525v-1.95q1.6 1 2.55 2.6.95 1.6.95 3.6h.5q.4 0 .7.3.3.3.3.7 0 .4-.3.7-.3.3-.7.3h-.5q0 3.2-2.1 5.35-2.1 2.15-5.4 2.15Zm0-3q2.1 0 3.3-1.25 1.2-1.25 1.2-3.25h-9q0 2 1.2 3.25t3.3 1.25Zm15.1 6.2-.1-1.45q-.35-.2-.725-.45t-.675-.5l-1.3.7-1.1-1.6 1.3-.95q-.1-.2-.1-.375v-.75q0-.175.1-.375l-1.3-.95 1.1-1.6 1.3.7.7-.5q.35-.25.7-.45l.1-1.45h2l.1 1.45q.35.2.7.45l.7.5 1.3-.7 1.1 1.6-1.3.95q.1.2.1.375v.75q0 .175-.1.375l1.3.95-1.1 1.6-1.3-.7q-.3.25-.675.5-.375.25-.725.45l-.1 1.45Zm1-3.1q.8 0 1.35-.55t.55-1.35q0-.8-.55-1.35T34 23.05q-.8 0-1.35.55t-.55 1.35q0 .8.55 1.35t1.35.55Zm4.4-7.75-.45-1.75q-.5-.2-1.025-.55-.525-.35-.875-.75l-2.2.8-1-1.75 1.75-1.4q-.1-.25-.175-.55-.075-.3-.075-.6t.075-.6q.075-.3.175-.55L32.85 10l1-1.75 2.2.8q.35-.4.875-.775t1.025-.525L38.4 6h1.9l.45 1.75q.5.15 1.025.525.525.375.875.775l2.2-.8 1 1.75-1.75 1.4q.1.25.175.55.075.3.075.6t-.075.6q-.075.3-.175.55l1.75 1.4-1 1.75-2.2-.8q-.35.4-.875.75t-1.025.55l-.45 1.75Zm.95-3.65q1.25 0 2.075-.825.825-.825.825-2.075 0-1.25-.825-2.075-.825-.825-2.075-.825-1.25 0-2.075.825-.825.825-.825 2.075 0 1.25.825 2.075.825.825 2.075.825ZM5.1 39h25.6H5.1Z"/></svg>
      <h3>Maintenance</h3>
      <p>Confier l’entretien de votre Air Création révision ou réparation à notre réseau de maintenance.</p>
    </article>
  </div>
</section>

<!-- Parallax -->
<div class="parallax"></div>

<!-- Block Infos 2 -->
<section class="home-block-infos-2">
  <div class="text">
    <h2>Qui sommes nous ?</h2>
    <p>Air Création est un acteur majeur de conception et de fabrication d'aéronefs français. Installé en Ardèche depuis 1982 le leader mondial de l’ULM Pendulaires (deltaplanes motorisés - DPM) n'a cessé de faire progresser ses produits afin d'optimiser confort & performance de vol.</p>
    <p>La passion qui anime encore ses fondateurs Jean-Yves LE BIHAN & Gilles BRU est à l’origine d’une progression remarquable propulsant le petit atelier à l’usine de production en seulement quelques années.</p>
    <p>Les deux pilotes ont su s’entourer d’une équipe à la fois brillante, compétente, forte et fidèle qui est restée soudée et motivée en toutes circonstances et avec qui ils ont pu révolutionner l’ultraléger Motorisé d’aujourd’hui et de demain.</p>
    <p>Les 40 années de savoir-faire et d'expérience des équipes associée à l'utilisation de technologies de pointe ont permis de créer des aéronefs toujours plus performants, plus fiables, plus confortables, en plus économiques.</p>
    <p>L'importante gamme d'ailes et de tricycles proposée par le constructeur Ardéchois permet d'offrir à chaque client une combinaison parfaitement adapté à ses besoins, que ce soit dans un but purement récréatif ou à titre professionnel (formation, baptêmes, photographie, surveillance, largage de parachutiste, expérimentation scientifique, compétition, …).</p>
    <p>L’entreprise de 22 salariés produit la majeure partie des pièces composant ses ULM dans l’usine de Lanas (07) et continu aujourd’hui son expansion en s’ouvrant à de nouvelles activités.</p>
    <p><a>En savoir plus</a></p>
  </div>
  <div class="image">
    <img src="./uploads/images/pages/home/img-block-3.jpg" alt="Histoire de Air Création" />
  </div>
</section>

<!-- Timeline Block -->
<section class="swiper home-timeline-container">
  <div class="swiper-wrapper">
    {% for event in events %}
    <div class="swiper-slide timeline-block">
      <h2>{{ event.chronologiedate }}</h2>
      <p>{{ event.chronologietext}}</p>
    </div>
    {% endfor %}
  </div>
  <div class="chrono-swiper-button-prev"></div>
  <div class="chrono-swiper-button-next"></div>
</section>

<!-- Community Block -->
<section class="social">
  <!-- Dernières actualités -->
  <div class="swiper posts">
    <h2>Dernières actualités</h2>
    <div class="swiper-wrapper">
      {% for post in posts %}
      <article class="swiper-slide post-block">
        <div class="image">
          <img src="../uploads/images/posts/{{ post.photofilename }}" alt='{{ post.postname }}' />
        </div>
        <div class="content">
          <h3>{{ post.postname }}</h3>
          <p>
            <a href="{{ post.posturl }}" class="btn">Lire l'article</a>
          </p>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
  <!-- Instagram -->
  <div class="instagram-container">
    <h2>Instagram</h2>
    <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/CfD0Z8yjE6W/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/p/CfD0Z8yjE6W/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">Voir cette publication sur Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/CfD0Z8yjE6W/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">Une publication partagée par Air Creation (@aircreationtrike)</a></p></div></blockquote>
  </div>
</section>