<!-- Cover Page -->
<section class="cover-page">
  <div class="text">
    <h1>Documentation</h1>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/documentation/bg-page.jpg" alt="" />
  </div>
</section>

<!-- Fonctions filtrage -->
<div class="filters doc-form">
  {{ form_start(docFilterForm) }}
  <div class="input-block">
    {{ form_row(docFilterForm.filter_wing) }}
  </div>
  <div class="input-block">
    {{ form_row(docFilterForm.filter_name) }}
  </div>
  <div class="input-btn">
    {{ form_row(docFilterForm.submit) }}
  </div>
  {{ form_end(docFilterForm) }}
</div>

<section class="doc-container">
  <h2 class="center">
    Toute la documentation de nos produits
  </h2>
  {% for product in products %}
  {% if product.productold == 0 %}
  <div id="{{ product.productid }}" class="product" data-aos="fade-up">
    <div class="product-item">
      <div class="image">
        <img src="../uploads/images/products/thumbs/{{ product.productthumb }}" alt="{{ product.productname }}" />
      </div>
      <h3 class="center">{{ product.productname }}</h3>
    </div>
    <div class="swiper product-doc-list">
      <div class="swiper-wrapper">
        {% for doc in product.documentations %}
        <div class="swiper-slide product-doc-block">
          <i class="fa-regular fa-file fa-6x"></i>
          <p>{{ doc.docname }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</section>
<hr />
<section class="doc-container">
  <h2 class="center">
    Produits anciens
  </h2>
  <div class="old-products-list">
    {% for product in products %}
    {% if product.productold == 1 %}
    <div class="old-product">
      <h3>{{ product.productname }}</h3>
      <ul>
        {% for doc in product.documentations %}
        <li>{{ doc.docname }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endfor %}
  </div>

</section>