<!-- Cover Page -->
<div class="cover-page-full">
  <div class="text">
    <img src="../uploads/images/logotype-white.png" alt="" />
  </div>
  <div class="image">
    <img src="../uploads/images/pages/innovation/photo-test.jpeg" alt="" />
  </div>
</div>

<!-- Fonctions filtrage -->
<div class="filters">
  {{ form_start(filterForm) }}
  	<div class="input-block">
  		{{ form_row(filterForm.filter_capacity) }}
  	</div>
  	<div class="input-block">
  		{{ form_row(filterForm.filter_wing) }}
  	</div>
  	<div class="input-block">
  		{{ form_row(filterForm.filter_tricycle) }}
  	</div>
  	<div class="input-btn">
  		{{ form_row(filterForm.submit) }}
  	</div>
  {{ form_end(filterForm) }}
</div>

<!-- Liste des produits -->
<section class="products-list">
  <div class="show-title-block center">
    <h1>Showroom</h1>
    <p>
      Pour en savoir plus sur les spécificités de nos ULM, nous vous invitons à consulter notre page <strong>"Options"</strong>
    </p>
    <p>
      <a class="btn" href="{{ path('web_pages', {page_slug: 'nos-options'}) }}">Voir les options de nos produits</a>
    </p>
  </div>

  <div class="products-list-container">
    {% for product in products %}
    <article class="product-block">
      <a href="{{ path('product_pages', {product_slug: product.producturl}) }}">
        <div class="image">
          <img src="../uploads/images/products/thumbs/{{ product.productthumb }}" alt="{{ product.productname }}" />
          <img src="../uploads/images/products/thumbs/{{ product.productthumbhover }}" alt="{{ product.productname }} Modèle 3D" class="thumb-hover" />
        </div>
        <h2>{{ product.productname }}</h2>
      </a>
    </article>
    {% endfor %}
  </div>
</section>