<!-- Cover Page -->
<div class="cover-page-full">
  <div class="text">
    <img src="../uploads/images/logotype-white.png" alt="" />
  </div>
  <div class="image">
    <img src="../uploads/images/pages/innovation/photo-test.jpeg" alt="" />
  </div>
</div>

<!-- Fonctions filtrage -->
<div class="filters">

</div>

<!-- Liste des produits -->
<section class="products-list">
  <div class="show-title-block">
    <h1>Showroom</h1>
  </div>

  <div class="products-list-container">
    {% for product in products %}
    <article 
             class="product-block"
             data-type="{{ product.producttype }}"
             data-envergure="{{ product.productenvergure }}"
             data-surface-alaire="{{ product.productsurfacealaire }}"
             data-surface="{{ product.productsurface }}"
             data-charge="{{ product.productcharge }}"
             data-masse="{{ product.productmasse }}"
             data-masse-max="{{ product.productmassemax }}"
             data-motor-type="{{ product.productmotortype }}"
             data-motor-pouls="{{ product.productmotorpouls }}"
             data-speed-min="{{ product.productspeedmin }}"
             data-speed-max="{{ product.productspeedmax }}"
             data-elec-conso="{{ product.productelecconso }}"
             data-fly-dist="{{ product.productflydist }}"
             data-fly-amount="{{ product.productflyamount }}"
             data-color="{{ product.productcolor }}">
      <a href="{{ path('product_pages', {product_slug: product.producturl}) }}">
        <div class="image">
          <img src="../uploads/images/product_thumbnails/{{ product.productthumb }}" alt="{{ product.productname }}" />
        </div>
        <h2>{{ product.productname }}</h2>
      </a>
    </article>
    {% endfor %}
  </div>
</section>