<!-- Cover Page -->
<div class="cover-page-full">
  <div class="text">
    <img src="../uploads/images/logotype-white.png" alt="" />
  </div>
  <div class="image">
    <img src="../uploads/images/pages/innovation/photo-test.jpeg" alt="" />
  </div>
</div>

<!-- Fonctions filtrage -->
<div class="filters">
  {{ form(filterForm) }}
</div>

<!-- Liste des produits -->
<section class="products-list">
  <div class="show-title-block">
    <h1>Showroom</h1>
  </div>

  <div class="products-list-container">
    {% for product in products %}
    <article class="product-block">
      <a href="{{ path('product_pages', {product_slug: product.producturl}) }}">
        <div class="image">
          <img src="../uploads/products/thumbs/{{ product.productthumb }}" alt="{{ product.productname }}" />
        </div>
        <h2>{{ product.productname }}</h2>
      </a>
    </article>
    {% endfor %}
  </div>
</section>