<!-- Cover Block -->
<section class="cover-page">
  <div class="text">
    <h1>Nos options</h1>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/valeurs/bg-page.jpg" alt="" />
  </div>
</section>

<!-- Intro Block -->
<!--<section class="info-block-intro-container">
  <div class="info-block-intro">
    <p>Du tableau de bord à l’hélice !<br />
      Retrouvez toutes nos options !</p>
  </div>
</section>-->

<!-- Fonctions filtrage -->
<div class="filters doc-form">
  {{ form_start(docFilterForm) }}
  <div class="input-block">
    {{ form_row(docFilterForm.filter_wing) }}
  </div>
  <div class="input-block">
    {{ form_row(docFilterForm.filter_name) }}
  </div>
  <div class="input-btn">
    {{ form_row(docFilterForm.submit) }}
  </div>
  {{ form_end(docFilterForm) }}
</div>

<!-- Options Container -->
<section class="options-container">
  <h2 class="center">Nom du tricycle</h2>
  <div class="images-list">
    {% for i in 0..8 %}
    <figure>
      <img src="https://picsum.photos/400/400" />
    </figure>
    <figure>
      <img src="https://picsum.photos/400/225" />
    </figure>
    <figure>
      <img src="https://picsum.photos/400/300" />
    </figure>
    {% endfor %}  
  </div>
</section>