<!-- Cover Page -->
<section class="cover-page">
  <div class="text">
    <h1>Notre histoire</h1>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/histoire/bg-page.jpg" alt="Présentation de Air Création" />
  </div>
</section>

<!-- Origines -->
<section class="chrono-swiper-1 chrono-swiper-container">
  <h2>Les origines de l'ULM</h2>

  <div class="swiper-wrapper">
    {% for date in chronoOrigines %}
    <div class="swiper-slide">
      <h3>{{ date.chronologiedate }}</h3>
      <p>{{ date.chronologietext }}</p>
    </div>
    {% endfor %}
    {% for date in chronoPionniers %}
    <div class="swiper-slide">
      <h3>{{ date.chronologiedate }}</h3>
      <p>{{ date.chronologietext }}</p>
    </div>
    {% endfor %}
    {% for date in chronoActual %}
    <div class="swiper-slide">
      <h3>{{ date.chronologiedate }}</h3>
      <p>{{ date.chronologietext }}</p>
    </div>
    {% endfor %}
  </div>
  <!-- If we need pagination -->
  <div class="chrono-pagination-1"></div>
</section>

<!-- Parallax -->
<figure class="parallax">
  <img class="parallax-image" data-height="75vh" data-speed="0.5" src="../uploads/images/pages/histoire/bg-actual.jpg" alt="Présentation de Air Création" />
</figure>