{% extends 'base.html.twig' %}

{% block title %}{{ meta_title_en }} - Air Création{% endblock %}
{% block meta_description %}{{ meta_desc_en }}{% endblock %}

{% block body_class %}{{ headerType }}{% endblock %}

{% block body %}

    {% include "webpages/blocks/en/header.html.twig" %}
    <main id="swup">
        {% include "webpages/pages/en/#{page_id}.html.twig" %}
    </main>
    {% include "webpages/blocks/en/footer.html.twig" %}

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        {% for reseller in resellers %}
            L.marker([{{reseller.coordlat}}, {{reseller.coordlong}}]).addTo(map);
        {% endfor %}
    </script>
{% endblock %}