{% extends 'admin.html.twig' %}

{% block title %}Modifier une chronologie{% endblock %}

{% block body %}
    <section class="block tab-container">
        <h2>Ajouter un nouveau produit</h2>
        {{ form_start(form) }}
            <p>{{ form_label(form.chronologie_date) }}<br />
            {{ form_widget(form.chronologie_date) }}</p>

            <p>{{ form_label(form.chronologie_img) }}<br />
            {{ form_widget(form.chronologie_img, {
                value: thumb
            }) }}</p>

            <p>{{ form_label(form.chronologie_type) }}<br />
            {{ form_widget(form.chronologie_type) }}</p>

            <hr />
            
            <ul class="tabs-btn tabs">
                <li><a class="tab active">Français</a></li>
                <li><a class="tab">English</a></li>
            </ul>

            <div class="tab-panes">
                <div class="tab-pane active">
                    <p>{{ form_label(form.chronologie_text) }}<br />
                    {{ form_widget(form.chronologie_text) }}</p>
                </div>
                <div class="tab-pane">
                    <p>{{ form_label(form.chronologie_text_en) }}<br />
                    {{ form_widget(form.chronologie_text_en) }}</p>
                </div>
            </div>

            <p>{{ form_widget(form.submit) }}</p>
        {{ form_end(form) }}
    </section>
{% endblock %}