{% extends 'base.html.twig' %}

{% block title %}{{ modelMetaTitle }} - Air Création{% endblock %}
{% block meta_description %}{{ modelMetaDesc }}{% endblock %}

{% block body_class %}{{ headerType }}{% endblock %}

{% block body %}
    {% include "webpages/blocks/en/header.html.twig" %}
    <main>
        {# Cover page #}
        <div class="cover-page">
            <div class="text">
                <h1>{{ modelName }}</h1>
            </div>
            <div class="image">
                <img alt="" src="../../uploads/images/options/bg-page.jpg" />
            </div>
        </div>

        {# Options Models #}
        <div class="info-block-intro-container">
            <ul class="model-list">
                {% for model in models %}
                    <li><a class="btn rounded" href="{{ path('option_page_fr', {option_slug: model.modelurl}) }}">{{ model.modelname }}</a></li>
                {% endfor %}
            </ul>
        </div>

        {# Options #}
        {% for option in options %}
            <section class="option-container">
                <div class="info-block-action">
                    <div class="text">
                        <h2>{{ option.optionnamefr }}</h2>
                        {{ option.optioncontentfr | raw }}
                    </div>
                    <div class="image">
                        {% for image in optionsImages %}
                            {% if image.optionname.id == option.id %}
                                <img src="../../uploads/images/options/{{ image.optionimage }}" data-viewer="{{ option.id }}" alt="{{ image.optionimage }}" />
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="images-option-list">
                    {% for image in optionsImages %}
                        {% if image.optionname.id == option.id %}
                            <div class="img-option-button-container">
                                <figure class="img-option-button" data-viewer-id="{{ option.id }}">
                                    <img src="../../uploads/images/options/{{ image.optionimage }}" alt="{{ image.optionimage }}" />
                                </figure>  
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
        {% endfor %}
    </main>
    {% include "webpages/blocks/en/footer.html.twig" %}
{% endblock %}