{% extends 'base.html.twig' %}

{% block title %}{{ meta_title }} - Air Création{% endblock %}
{% block meta_description %}{{ meta_desc }}{% endblock %}

{% block body_class %}{{ headerType }}{% endblock %}

{% block body %}

    {% include "webpages/blocks/fr/header.html.twig" %}
    <main id="swup">
        <figure class="post-image">
            <img src="../../uploads/images/posts/{{ post_image }}" alt="{{ post_title }}" />
        </figure>
        <div class="post-title">
            <h1>{{ meta_title }}</h1>
            <p class="date">Posté le {{ post_date|format_date('full', locale='fr') }}</p>
            <span class="scroll-down-post">
                <i class="fa-solid fa-arrow-down fa-2x"></i>
            </span>
        </div>
        <div id="post-content">
            {% include "webpages/posts/fr/#{post_id}.html.twig" %}
        </div>
    </main>
    {% include "webpages/blocks/fr/footer.html.twig" %}

{% endblock %}
