{% extends 'admin.html.twig' %}

{% block title %}Gestion des options - Air Création{% endblock %}

{% block body %}
    <section class="block">
        <a class="btn-link float-right margin" href="{{ path('admin_options_models') }}">Ajouter un modèle</a>
        <a class="btn-link float-right" href="{{ path('admin_options_add') }}">Ajouter une option</a>
        <h2>Liste des options</h2>
        {% for option in options|sort((a, b) => a.optionmodel <=> b.optionmodel) %}
        <div class="line">
            <p>
                {{ option.optionmodel.modelname }}<br />
                <strong>{{ option.optionnamefr }}</strong>
            </p>
            <ul>
                <li><a href="{{ path('admin_options_modify', {option_id: option.id}) }}">Modifier</a></li>
                <li><a href="{{ path('admin_options_images', {options: option.id}) }}">Ajouter des images</a></li>
                <li><a href="{{ path('admin_options_delete', {option_id: option.id}) }}">Supprimer</a></li>
            </ul>
        </div>
        {% endfor %}
    </section>
{% endblock %}
