{% extends 'admin.html.twig' %}

{% block title %}Modifier une option - Air Création{% endblock %}

{% block body %}
    <section class="block tab-container">
        <h2>Modifier une option</h2>    
        <ul class="tabs-btn tabs">
            <li><a class="tab active">Français</a></li>
            <li><a class="tab">English</a></li>
        </ul>
        {{ form_start(form) }}
            <p>{{ form_label(form.option_model) }}<br />
            {{ form_widget(form.option_model) }}</p>
            <hr /> 
            <div class="tab-panes">
                <div class="tab-pane active">
                    <p>{{ form_row(form.option_name_fr) }}</p>
                    <p>{{ form_row(form.option_content_fr) }}</p>
                </div>
                <div class="tab-pane">
                    <p>{{ form_row(form.option_name_en) }}</p>
                    <p>{{ form_row(form.option_content_en) }}</p>
                </div>
                <p>{{ form_widget(form.submit) }}</p>
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}