<!-- Cover Page -->
<div class="cover-page">
  <div class="text">
    <h1>Notre showroom</h1>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/innovation/photo-test.jpeg" alt="" />
  </div>
</div>

<!-- Block Intro -->
<section class="info-block-intro-container bg-white">
  <div class="info-block-intro">
    <p>Retrouvez notre sélection d’ULM<br />
    Toute la Gamme biplace d’ailes et de tricycles Air création sont compatibles, mais certaines configurations peuvent nécessiter des modifications réglementaires. </p>
  </div>
</section>

<!-- Fonctions filtrage -->
<div class="filters">
  {{ form_start(filterForm) }}
  <div class="input-block">
    {{ form_row(filterForm.filter_capacity) }}
  </div>
  <div class="input-block">
    {{ form_row(filterForm.filter_wing) }}
  </div>
  <div class="input-block">
    {{ form_row(filterForm.filter_tricycle) }}
  </div>
  <div class="input-btn">
    {{ form_row(filterForm.submit) }}
  </div>
  {{ form_end(filterForm) }}
</div>

<!-- Liste des produits -->
<section class="products-list">
  <div class="products-list-container">
    {% for product in products %}
      {% if product.productlang == 'en' %}
        <article class="product-block">
          <a href="{{ path('product_pages_en', {product_slug: product.productslug}) }}">
            <div class="image">
              <img src="../uploads/images/products/thumbs/{{ product.productsecondthumb }}" alt="{{ product.productname }} Modèle 3D" />
              <img src="../uploads/images/products/thumbs/{{ product.productmainthumb }}" alt="{{ product.productname }}" class="thumb-hover" />
            </div>
            <div class="logos">
              <img src="../../uploads/images/products/logos/{{ product.productlogomain }}" />
              <span class="and-icon"><strong><em>&</em></strong></span>
              <img src="../../uploads/images/products/logos/{{ product.productlogosecond }}" />
            </div>
          </a>
        </article>
      {% endif %}
    {% endfor %}
  </div>
  <!--<div style="padding: 6.25rem 0;">
    <p class="center">
      Pour en savoir plus sur les spécificités de nos ULM, nous vous invitons à consulter notre page <strong>"Options"</strong>
    </p>
    <p class="center">
      <a class="btn" href="{{ path('web_pages', {page_slug: 'nos-options'}) }}">Voir les options de nos produits</a>
    </p>
  </div>-->
</section>