<!-- Cover Page -->
<section class="cover-page">
  <div class="text">
    <h1>Maintenance</h1>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/innovation/photo-test.jpeg" alt="" />
  </div>
</section>

<!-- Block Intro -->
<section class="info-block-intro-container">
  <div class="info-block-intro">
    <p>Confier l’entretien de votre Air Création révision ou réparation à notre réseau de maintenance.
De la révision aux opérations de maintenance nos équipes s’occupent de tout.</p>
    <p>Trouver la station technique proche de chez vous.</p>
  </div>
</section>

<!-- Block Partenaires -->
<section class="partners-container">
	<!-- Leaflet -->
  <div id="map" class="partners-map"></div>
	<!-- List -->
  <article class="partners-list">
    {% for tech in techs %}
  	<div class="partner-block">
      <h3>{{ tech.name }}</h3>
      <p>{{ tech.adress }}<br />
        {{ tech.postcode }} - {{ tech.city }}</p>
      <p>
        
        {% if tech.telfixe != null %}
        	Téléphone : {{ tech.telfixe }}<br />
        {% endif %}
        {% if tech.telport != null %}
        	Portable : {{ tech.telport }}<br />
        {% endif %}
        {% if tech.telfax != null %}
        	Fax : {{ tech.telfax }}<br />
        {% endif %}
        
        Site web : {{ tech.website }}
      </p>
      <p><a target="_blank" rel="noopener" href="https://www.google.com/maps/@?api=1&map_action=map&center={{ tech.coordlong }},{{ tech.coordlat }}">Voir sur Google Maps</a></p>
    </div>
    {% endfor %}
  </article>
</section>