<div class="cover-video">
  <video autoplay controls loop muted>
    <source src="./uploads/videos/video-home.mp4" type="video/mp4">
    <p>Votre navigateur ne prend pas en charge les vidéos HTML5.<br />
      <a href="./uploads/videos/video-home.mp4">Voici un lien pour télécharger la vidéo</a>.</p>
  </video>
</div>

<!-- Block Showroom -->
<section class="block-showroom">
  <h2 class="center" data-aos="fade-up">Des ULM conçus pour toutes les situations, découvrez la gamme d’ULM Air Création</h2>
  <p class="center" data-aos="fade-up">
    <a class="btn rounded" href="{{ path('web_pages', {page_slug: 'showroom'}) }}">Notre showroom</a>
  </p>
</section>

<!-- Parallax -->
<figure class="parallax">
  <img class="parallax-image" data-height="75vh" data-speed="0.5" src="./uploads/images/pages/home/img-cover-1.jpg" alt="Présentation de Air Création" />
</figure>

<section class="home-block-infos-1">
  <!-- Icons Blocks -->
  <div class="icons-blocks-container">
    <article class="icons-block" data-aos="fade-up">
      <a href="{{ path('web_pages', {page_slug: 'service-sur-mesure'}) }}">
        <img src="../uploads/images/pages/home/realisation-sur-mesure.png" alt="Réalisation sur-mesure" />
        <h3>Une réalisation sur-mesure</h3>
        <p>Configurer l’ULM de vos rêves !</p>
      </a>
    </article>
    <article class="icons-block" data-aos="fade-up" data-aos-delay="100">
      <a href="https://shop.aircreation.fr" rel="noopener" target="_blank">
        <img src="../uploads/images/pages/home/shop.png" alt="Shop" />
        <h3>Shop</h3>
        <p>Retrouvez toutes les pièces détachées</p>
      </a>
    </article>
    <article class="icons-block" data-aos="fade-up" data-aos-delay="200">
      <a href="https://shop.aircreation.fr/-les-occasions-air-creation" rel="noopener" target="_blank">
        <img src="../uploads/images/pages/home/occasion.png" alt="Occasion" />
        <h3>Occasion</h3>
        <p>Trouvez l'occasion qu'il vous faut</p>
      </a>
    </article>
    <article class="icons-block" data-aos="fade-up" data-aos-delay="300">
      <a href="{{ path('web_pages', {page_slug: 'maintenance'}) }}">
        <img src="../uploads/images/pages/home/maintenance.png" alt="Maintenance" />
        <h3>Maintenance</h3>
        <p>Confier l’entretien de votre révision ou réparation à notre réseau de maintenance.</p>
      </a>
    </article>
  </div>
</section>

<!-- Block Intro -->
<section class="home-intro-block">
  <div class="text">
    <div data-aos="fade-up">
      <h1>Air Création<br />
        Leader mondial de l'ULM pendulaire depuis 1982
      </h1>
      <p>Air Création est l'une des premières sociétés françaises de conception et de fabrication d'aéronefs, le leader mondial de l’ULM Pendulaires (deltaplanes motorisés - DPM) n'a cessé de faire progresser ses produits afin d'optimiser confort & performance de vol.</p>
      <p>Les 40 années de savoir-faire et d'expérience des équipes associée à l'utilisation de technologies de pointe ont permis de créer des aéronefs de plus en plus performants, de plus en plus fiables, de plus en plus confortables, de plus en plus économiques.</p>
      <p>
        <a class="btn rounded" href="{{ path('web_pages', {page_slug: 'qui-sommes-nous'}) }}">En savoir plus</a>
      </p>
      <!--<div class="home-hidden-text">
        <p>L'importante gamme d'ailes et de tricycles proposée par le constructeur Ardéchois permet d'offrir à chaque client une combinaison parfaitement adapté à ses besoins, que ce soit dans un but purement récréatif ou à titre professionnel (formation, baptêmes, photographie, surveillance, largage de parachutiste, expérimentation scientifique, compétition, …).</p>
        <p>Les ULM Air Création étant présents sur tous les continents, cela en fait une réelle vitrine du savoir-faire aéronautique français.</p>

      </div>
      <p><span class="home-hidden-btn"><u><strong>Voir plus</strong></u></span></p>-->
    </div>

  </div>
  <figure class="image" data-aos="reveal-left">
    <img src="./uploads/images/pages/home/img-block-1.jpg" alt="Présentation de Air Création" />
  </figure>
</section>

<!-- Block Infos 0 -->
<section>
  <a class="home-block-infos-0" href="{{ path('web_pages', {page_slug: 'nos-valeurs'}) }}">
    <div class="icons-blocks-container">
      <div class="icons-block" data-aos="fade-up">
       <img src="../uploads/images/pages/home/passion.png" alt="Passion" />
        <h2>Passion</h2>
      </div>
      <div class="icons-block" data-aos="fade-up" data-aos-delay="100">
       <img src="../uploads/images/pages/home/innovation.png" alt="innovation" />
        <h2>Innovation</h2>
      </div>
      <div class="icons-block" data-aos="fade-up" data-aos-delay="200">
       <img src="../uploads/images/pages/home/durabilite.png" alt="Durabilité" />
        <h2>Durabilité</h2>
      </div>
      <div class="icons-block" data-aos="fade-up" data-aos-delay="300">
       <img src="../uploads/images/pages/home/securite.png" alt="Sécurité" />
        <h2>Sécurité</h2>
      </div>
      <div class="icons-block" data-aos="fade-up" data-aos-delay="400">
       <img src="../uploads/images/pages/home/qualite.png" alt="Qualité" />
        <h2>Qualité</h2>
      </div>
    </div>
    <p class="center" data-aos="fade-up" data-aos-delay="500">
      <span class="btn rounded">Nos valeurs</span>
    </p>
  </a>
</section>

<!-- Parallax -->
<figure class="parallax">
  <img class="parallax-image" data-height="75vh" data-speed="0.5" src="./uploads/images/pages/home/img-cover-2.png" alt="Présentation de Air Création" />
</figure>

<!-- Block Infos 1 -->
<section class="home-block-infos-1">
  <!-- Slider Links Mobile -->
  <div class="swiper slider-mobile-container">
    <div class="swiper-wrapper">
      <div class="block-slider swiper-slide">
        <a href="{{ path('web_pages', {page_slug: 'liste-des-revendeurs'}) }}">
          <h2>
            Distributeur<br />
            Où nous trouver ?
          </h2>
        </a>
        <figure class="image">
          <img src="./uploads/images/pages/home/img-link-partners.jpg" />
        </figure>
      </div>
      <div class="block-slider swiper-slide">
        <a href="{{ path('web_pages', {page_slug: 'liste-des-formateurs'}) }}">
          <h2>
            Centre de formation<br />
            Où vous former ?
          </h2>
        </a>
        <figure class="image">
          <img src="./uploads/images/pages/home/img-link-practice.jpg" />
        </figure>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <!-- Slider Links Desktop -->
  <div class="slider-desktop-container" data-aos="fade-up">
    <div class="block-slider">
      <a href="{{ path('web_pages', {page_slug: 'liste-des-revendeurs'}) }}">
        <h2>
          Distributeur<br />
          Où nous trouver ?
        </h2>
      </a>
      <figure class="image">
        <img src="./uploads/images/pages/home/img-link-partners.jpg" />
      </figure>
    </div>
    <div class="block-slider">
      <a href="{{ path('web_pages', {page_slug: 'liste-des-formateurs'}) }}">
        <h2>
          Centre de formation<br />
          Où vous former ?
        </h2>
      </a>
      <figure class="image">
        <img src="./uploads/images/pages/home/img-link-practice.jpg" />
      </figure>
    </div>
  </div>
</section>

<!-- Community Block -->
<section class="social">
  <!-- Dernières actualités -->
  <div class="posts swiper">
    <h2>Dernières actualités</h2>
    <div class="container swiper-wrapper">
      {% for post in posts %}
      <article class="post-block swiper-slide">
        <div class="image">
          <img src="../uploads/images/posts/{{ post.photofilename }}" alt='{{ post.postname }}' />
        </div>
        <a class="text" href="{{ path('post_page', {post_slug: post.posturl}) }}">
          <h3>
            {{ post.postname }}<br />
            Posté le {{ post.createdat|format_date('short', locale='fr') }}
          </h3>
        </a>
      </article>
      {% endfor %}
    </div>
  </div>
  <!-- Instagram -->
  <div class="instagram-container">
    <h2>Identifiez nous #aircreationtrike</h2>
   <script src="https://apps.elfsight.com/p/platform.js" defer></script>
	<div class="elfsight-app-ee49837a-4fb1-4ce5-b913-492972866c03"></div>
  </div>
</section>

<style>
  .icons-block a img,
  .icons-block img{
    width: 100px;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
  }
</style>