<!-- Cover Page -->
<section class="cover-page">
<div class="text">
<h1>Documentation</h1>
</div>

<div class="image"><img alt="" src="../uploads/images/pages/documentation/bg-page.jpg" /></div>
</section>
<!-- Fonctions filtrage -->

<div class="filters doc-form">
{{ form_start(docFilterForm, {'attr': {'id': 'product-filter-form'}}) }}
	<div class="input-block">{{ form_row(docFilterForm.product_type) }}</div>
{{ form_end(docFilterForm) }}</div>

<section class="doc-container">
<h2 class="center">Toute la documentation de nos produits</h2>

<div class="products-docs-list">{% for docCategory in docCategories %}
<div class="cat-block">
<h3>{{ docCategory.productname }}</h3>

<ul>
	{% for document in docCategory.docfiles %}
  		{% if document.doclocal == 0 %}
		<li><a download="" href="../uploads/documentation/{{ document.docname }}">{{ document.docname }}</a></li>
  		{% endif %}
	{% endfor %}
</ul>
</div>
{% endfor %}</div>
</section>