<!-- Cover Page -->
<section class="cover-page">
  <div class="text">
    <h1>Liste des formateurs</h1>
  </div>
  <figure class="image">
    <img src="../uploads/images/pages/formation/bg-page.jpg" alt="" />
  </figure>
</section>

<!-- Block Intro -->
<section class="info-block-intro-container">
  <div class="info-block-intro">
    <p>Retrouver la liste de notre distributeur à travers le monde ! </p>
    <p>
      <a href="https://ffplum.fr/" target="_blank" rel="noopener">
        <em>Site officiel de la <abbr title="Fédération Française d'ULM">FFPLUM</abbr></em><br />
      	<img src="../uploads/images/footer/icon-ffulm.jpg" alt="Site officiel de la FFPLUM" class="img-center" />
      </a>
      
    </p>
  </div>
</section>

<!-- Block Partenaires -->
<section class="partners-container">
	<!-- Leaflet -->
  <div id="map" class="partners-map"></div>
	<!-- List -->
  <article class="partners-list">
    {% for trainer in trainers %}
  	<div class="partner-block">
      <h3>{{ trainer.name }}</h3>
      <p>{{ trainer.adress }}<br />
        {{ trainer.postcode }} - {{ trainer.city }}</p>
      <p>
        
        {% if trainer.telfixe != null %}
        	Téléphone : {{ trainer.telfixe }}<br />
        {% endif %}
        {% if trainer.telport != null %}
        	Portable : {{ trainer.telport }}<br />
        {% endif %}
        {% if trainer.telfax != null %}
        	Fax : {{ trainer.telfax }}<br />
        {% endif %}
        
        Site web : {{ trainer.website }}
      </p>
      <p><a target="_blank" rel="noopener" href="https://www.google.com/maps/@?api=1&map_action=map&center={{ trainer.coordlong }},{{ trainer.coordlat }}">Voir sur Google Maps</a></p>
    </div>
    {% endfor %}
  </article>
</section>