{% extends 'base.html.twig' %}

{% block title %}{{ product.productmetatitle }} - Air Création{% endblock %}
{% block meta_description %}{{ meta_desc }}{% endblock %}

{% block meta %}
  <meta description="{{ productMetaDesc }}">
{% endblock %}

{% block body_class %}{{ headerType }}{% endblock %}

{% block body %}

    {% include "webpages/blocks/header.html.twig" %}

    <main id="swup">
        <!-- Main Image & Intro -->
        <section class="product-main-block">
            <div class="image swiper motors-images">
                <div class="swiper-wrapper">
                    <figure class="swiper-slide motor-image active" data-slider="0">
                        <img src="../../uploads/images/products/thumbs/{{ product.productmainthumb }}" alt="{{ product.productname }}" />
                    </figure>
                </div>
            </div>

            <div class="intro">
                <div class="intro-container">
                    <!-- Logo -->
                    <img src="../../uploads/images/products/logos/{{ product.productlogomain }}" alt="" />
                    <img src="../../uploads/images/products/logos/{{ product.productlogosecond }}" alt="" />
                    <!-- Blocks -->
                    </div>
                </div>
            </div>
        </section>



        <!-- Tabs Images -->
        <div class="images-tabs-container">

            <!-- Buttons Tabs -->
            <ul class="tabs">
                <li><a class="tab active">Galerie « En vol »</a></li>
                <li><a class="tab">Galerie « Lifestyle »</a></li>
                <li><a class="tab">Galerie « L’atelier »</a></li>
            </ul>

            <!-- Tabs Blocks -->
            <div class="tab-panes" id="product-galleries">

                <div class="tab-pane active">
                    <div class="swiper gallery-vol">
                        <div class="swiper-wrapper">
                            {% for image in product.imageproduct %}
                                {% if image.imagetype == 0 %}
                                    <div class="swiper-slide">
                                        <a 
                                            href="../../uploads/images/products/carousels/fly/{{ image.imagename }}"
                                            data-cropped="true" 
                                            target="_blank">
                                            <figure class="slide-image">
                                                <img src="../../uploads/images/products/carousels/fly/{{ image.imagename }}" alt="fly/{{ image.imagename }}" />
                                            </figure>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="vol-button-next swiper-btn next">
                            <i class="fa-solid fa-chevron-right fa-3x"></i>
                        </div>
                        <div class="vol-button-prev swiper-btn prev">
                            <i class="fa-solid fa-chevron-left fa-3x"></i>
                        </div>
                    </div>
                </div>

                <div class="tab-pane">
                    <div class="swiper gallery-lifestyle">
                        <div class="swiper-wrapper">
                            {% for image in product.imageproduct %}
                                {% if image.imagetype == 1 %}
                                    <div class="swiper-slide">
                                        <a 
                                            href="../../uploads/images/products/carousels/lifestyle/{{ image.imagename }}"
                                            data-cropped="true" 
                                            target="_blank">
                                            <figure class="slide-image">
                                                <img src="../../uploads/images/products/carousels/lifestyle/{{ image.imagename }}" alt="lifestyle/{{ image.imagename }}" />
                                            </figure>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="lifestyle-button-next swiper-btn next">
                            <i class="fa-solid fa-chevron-right fa-3x"></i>
                        </div>
                        <div class="lifestyle-button-prev swiper-btn prev">
                            <i class="fa-solid fa-chevron-left fa-3x"></i>
                        </div>
                    </div>
                </div>

                <div class="tab-pane">
                    <div class="swiper gallery-atelier">
                        <div class="swiper-wrapper">
                            {% for image in product.imageproduct %}
                                {% if image.imagetype == 2 %}
                                    <div class="swiper-slide">
                                        <a 
                                            href="../../uploads/images/products/carousels/workshop/{{ image.imagename }}"
                                            data-cropped="true" 
                                            target="_blank">
                                            <figure class="slide-image">
                                                <img src="../../uploads/images/products/carousels/workshop/{{ image.imagename }}" alt="workshop/{{ image.imagename }}" />
                                            </figure>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="atelier-button-next swiper-btn next">
                            <i class="fa-solid fa-chevron-right fa-3x"></i>
                        </div>
                        <div class="atelier-button-prev swiper-btn prev">
                            <i class="fa-solid fa-chevron-left fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Tabs Content -->
        <div class="content-tabs-container">

            <!-- Buttons Tabs -->
            <ul class="tabs">
                <li><a class="tab active">Description</a></li>
                <li><a class="tab">Caractéristiques</a></li>
                <li><a class="tab">Dimensions</a></li>
            </ul>

            <!-- Tabs Blocks -->
            <div class="tab-panes">
                <!-- Tab Description -->
                <div class="tab-pane active">
                    <section class="desc-container">
                        {{ product.productdesc | raw }}
                    </section>
                </div>
                <!-- Tab Caractéristiques -->
                <!-- Tab Dimensions -->
                <div class="tab-pane">
                    <div class="dims-container">
                        <h2>Dimensions</h2>
                        <img src="../../uploads/images/products/dimensions/{{ product.productdim }}" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    {% include "webpages/blocks/footer.html.twig" %}

{% endblock %}