{% extends 'base.html.twig' %}

{% block title %}{{ product.productmetatitle }} - Air Création{% endblock %}
{% block meta_description %}{{ meta_desc }}{% endblock %}

{% block meta %}
  <meta description="{{ productMetaDesc }}">
{% endblock %}

{% block body_class %}{{ headerType }}{% endblock %}

{% block body %}

    {% include "webpages/blocks/header.html.twig" %}

    <main id="swup">
        <!-- Main Image & Intro -->
        <section class="product-main-block">
            <div class="image swiper motors-images">
                <div class="swiper-wrapper">
                    <figure class="swiper-slide motor-image active" data-slider="0">
                        <img src="../../uploads/images/products/thumbs/{{ product.productthumb }}" alt="{{ product.productname }}" />
                    </figure>

                    {% if product.productmotorimg1 %}
                        <figure class="swiper-slide motor-image" data-slider="{{ product.productmotor1 }}">
                            <img src="../../uploads/images/products/motors/{{ product.productmotorimg1 }}" alt="{{ product.productname }} Moteur 1" />
                        </figure>
                    {% endif %}

                    {% if product.productmotorimg2 %}
                        <figure class="swiper-slide motor-image" data-slider="{{ product.productmotor2 }}">
                            <img src="../../uploads/images/products/motors/{{ product.productmotorimg2 }}" alt="{{ product.productname }} Moteur 2" />
                        </figure>
                    {% endif %}

                    {% if product.productmotorimg3 %}
                        <figure class="swiper-slide motor-image" data-slider="{{ product.productmotor3 }}">
                            <img src="../../uploads/images/products/motors/{{ product.productmotorimg3 }}" alt="{{ product.productname }} Moteur 3" />
                        </figure>
                    {% endif %}
                </div>

                
                <select class="motor-select">
                    {% if product.productmotorimg1 %}
                        <option value="0">Vue d'ensemble</option>
                    {% endif %}
                    {% if product.productmotorimg1 %}
                        <option value="{{ product.productmotor1 }}">{{ product.productmotor1 }}</option>
                    {% endif %}
                    {% if product.productmotorimg2 %}
                        <option value="{{ product.productmotor2 }}">{{ product.productmotor2 }}</option>
                    {% endif %}
                    {% if product.productmotorimg3 %}
                        <option value="{{ product.productmotor3 }}">{{ product.productmotor3 }}</option>
                    {% endif %}
                </select>
            </div>

            <div class="intro">
                <div class="intro-container">
                    <!-- Logo -->
                    <img src="../../uploads/images/products/logos/{{ product.productlogo }}" alt="" />
                    <!-- Texte -->
                    {% include "webpages/products/#{product.productid}-intro.html.twig" %}
                    <!-- Blocks -->
                    <div class="main-blocks-container">
                        <!-- Vitesse -->
                        {% if product.productmaxspeed  %}
                        <div class="main-block">
                            <p> 
                                {{ product.productmaxspeed }}
                            </p>
                        </div>
                        {% endif %}
                        <!-- Décrochage -->
                        {% if product.productstallspeed  %}
                        <div class="main-block">
                            <p>
                                {{ product.productstallspeed }}
                            </p>
                        </div>
                        {% endif %}
                        <!-- Masse max -->
                        {% if product.productmassspeed  %}
                        <div class="main-block">
                            <p>
                                {{ product.productmassspeed }}
                            </p>
                        </div>
                        {% endif %}
                        <!-- Consommation -->
                        {% if product.productconsumption  %}
                        <div class="main-block">
                            <p>
                                {{ product.productconsumption }}
                            </p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

        <!-- Tabs Images -->
        <div class="images-tabs-container">

            <!-- Buttons Tabs -->
            <ul class="tabs">
                <li><a class="tab active">Galerie « En vol »</a></li>
                <li><a class="tab">Galerie « Lifestyle »</a></li>
                <li><a class="tab">Galerie « L’atelier »</a></li>
            </ul>

            <!-- Tabs Blocks -->
            <div class="tab-panes">

                <div class="tab-pane active">
                    <div class="swiper gallery-vol">
                        <div class="swiper-wrapper">
                            {% for image in product.productsimages %}
                                {% if image.imagetype == 0 %}
                                    <div class="swiper-slide">
                                        <img src="../../uploads/images/products/carousels/fly/{{ image.imagename }}" alt="" />
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="vol-button-next swiper-btn next">
                            <i class="fa-solid fa-chevron-right fa-3x"></i>
                        </div>
                        <div class="vol-button-prev swiper-btn prev">
                            <i class="fa-solid fa-chevron-left fa-3x"></i>
                        </div>
                    </div>
                </div>

                <div class="tab-pane">
                    <div class="swiper gallery-lifestyle">
                        <div class="swiper-wrapper">
                            {% for image in product.productsimages %}
                                {% if image.imagetype == 1 %}
                                    <div class="swiper-slide">
                                        <img src="../../uploads/images/products/carousels/lifestyle/{{ image.imagename }}" alt="" />
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="lifestyle-button-next swiper-btn next">
                            <i class="fa-solid fa-chevron-right fa-3x"></i>
                        </div>
                        <div class="lifestyle-button-prev swiper-btn prev">
                            <i class="fa-solid fa-chevron-left fa-3x"></i>
                        </div>
                    </div>
                </div>

                <div class="tab-pane">
                    <div class="swiper gallery-atelier">
                        <div class="swiper-wrapper">
                            {% for image in product.productsimages %}
                                {% if image.imagetype == 2 %}
                                    <div class="swiper-slide">
                                        <img src="../../uploads/images/products/carousels/workshop/{{ image.imagename }}" alt="" />
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="atelier-button-next swiper-btn next">
                            <i class="fa-solid fa-chevron-right fa-3x"></i>
                        </div>
                        <div class="atelier-button-prev swiper-btn prev">
                            <i class="fa-solid fa-chevron-left fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Tabs Content -->
        <div class="content-tabs-container">

            <!-- Buttons Tabs -->
            <ul class="tabs">
                <li><a class="tab active">Description</a></li>
                <li><a class="tab">Caractéristiques</a></li>
                <li><a class="tab">Dimensions</a></li>
            </ul>

            <!-- Tabs Blocks -->
            <div class="tab-panes">
                <!-- Tab Description -->
                <div class="tab-pane active">
                    <section class="desc-container">
                        {% include "webpages/products/#{product.productid}-desc.html.twig" %}
                    </section>
                </div>
                <!-- Tab Caractéristiques -->
                <div class="tab-pane">
                    <div class="carac-block-container">

                    {% if product.productcarac1 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            <p>Vitesse Max (palier)<br />
                            {{ product.productcarac1 }}</p>
                        </div>
                    {% endif %}

                    {% if product.productcarac2 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            <p>Vitesse Min (palier)<br />
                            {{ product.productcarac2 }}</p>
                        </div>
                    {% endif %}

                    {% if product.productcarac3 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            <p>Vitesse de croisière<br/>
                            {{ product.productcarac3 }}</p>
                        </div>
                    {% endif %}

                    {% if product.productcarac4 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            <p>Vitesse de décrochage<br/>
                            {{ product.productcarac4 }}</p>
                        </div>
                    {% endif %}

                    {% if product.productcarac5 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            <p>Vitesse à ne pas dépasser<br/>
                            {{ product.productcarac5 }}</p>
                        </div>
                    {% endif %}

                    {% if product.productcarac6 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            <p>Vitesse Max (À ne pas dépasser en air très turbulent)<br />
                            {{ product.productcarac6 }}</p>
                        </div>
                    {% endif %}

                    {% if product.productcarac7 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            <p>Vitesse de finesse Max<br />
                            {{ product.productcarac7 }}</p>
                        </div>
                    {% endif %}

                    {% if product.productcarac8 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            <p>Finesse max<br/>
                            {{ product.productcarac8 }}</p>
                        </div>
                    {% endif %}

                    {% if product.productcarac9 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            <p>Taux de montée<br/>
                            {{ product.productcarac9 }}</p>
                        </div>
                    {% endif %}

                    {% if product.productcarac10 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            <p>Distance de décollage<br/>
                            {{ product.productcarac10 }}</p>
                        </div>
                    {% endif %}

                    {% if product.productcarac29 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            <p>Passage des 15 m<br/>
                            {{ product.productcarac29 }}</p>
                        </div>
                    {% endif %}

                    {% if product.productcarac28 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            <p>Distance de décollage<br/>
                            {{ product.productcarac28 }}</p>
                        </div>
                    {% endif %}

                    {% if product.productcarac11 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            <p>Distance de décollage (2)<br/>
                            {{ product.productcarac11 }}</p>
                        </div>
                    {% endif %}

                    {% if product.productcarac12 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            {{ product.productcarac12 }}
                        </div>
                    {% endif %}

                    {% if product.productcarac13 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            {{ product.productcarac13 }}
                        </div>
                    {% endif %}

                    {% if product.productcarac14 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            {{ product.productcarac14 }}
                        </div>
                    {% endif %}

                    {% if product.productcarac15 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            {{ product.productcarac15 }}
                        </div>
                    {% endif %}

                    {% if product.productcarac16 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            {{ product.productcarac16 }}
                        </div>
                    {% endif %}

                    {% if product.productcarac17 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            {{ product.productcarac17 }}
                        </div>
                    {% endif %}

                    {% if product.productcarac18 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            {{ product.productcarac18 }}
                        </div>
                    {% endif %}

                    {% if product.productcarac19 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            {{ product.productcarac19 }}
                        </div>
                    {% endif %}

                    {% if product.productcarac20 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            {{ product.productcarac20 }}
                        </div>
                    {% endif %}

                    {% if product.productcarac21 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            {{ product.productcarac21 }}
                        </div>
                    {% endif %}

                    {% if product.productcarac22 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            {{ product.productcarac22 }}
                        </div>
                    {% endif %}

                    {% if product.productcarac23 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            {{ product.productcarac23 }}
                        </div>
                    {% endif %}

                    {% if product.productcarac25 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            {{ product.productcarac25 }}
                        </div>
                    {% endif %}

                    {% if product.productcarac26 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            {{ product.productcarac26 }}
                        </div>
                    {% endif %}

                    {% if product.productcarac27 %}
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            {{ product.productcarac27 }}
                        </div>
                    {% endif %}

                    

                        
                    </div>
                </div>
                <!-- Tab Dimensions -->
                <div class="tab-pane">
                    <div class="dims-container">
                        <h2>Dimensions</h2>
                        <img src="../../uploads/images/products/dimensions/{{ product.productdimimage }}" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    {% include "webpages/blocks/footer.html.twig" %}

{% endblock %}