{% extends 'base.html.twig' %}

{% block title %}{{ meta_title }} - Air Création{% endblock %}
{% block meta_description %}{{ meta_desc }}{% endblock %}

{% block meta %}
  <meta description="{{ productMetaDesc }}">
{% endblock %}

{% block body_class %}{{ headerType }}{% endblock %}

{% block body %}

    {% include "webpages/common_blocks/header.html.twig" %}
    <main id="swup">
        <!-- Block 1 -->
        <div class="product-block-1">
            <!-- Modèle 3D -->
            <div id="product-3d-viewer">
                <img src="../../uploads/products/thumbs/{{ productThumb }}" alt="{{ productName }}" />
            </div>
            <!-- Intro Block -->
            <section class="product-intro">
                <!-- Intro Title -->
                <h1>{{ productName }}</h1>
                <!-- Intro Text -->
                {% include "webpages/products/#{productFolderId}/#{productFolderId}-intro.html.twig" %}
                <!-- Intro Buttons -->
                <div class="btn-list">
                    <p>
                        <a class="btn" href="">Voir la documentation</a>
                    </p>
                </div>
            </section>
        </div>


        <!-- Block Images -->
        <div class="product-block-images">
        <!-- Slider Coloris -->
            <div class="swiper slider-images slider-coloris">
                <div class="swiper-wrapper">
                    {% for image in images %}
                        {% if image.imagetype == 0 %}
                            <figure class="swiper-slide slider-block">
                                <img src="../../uploads/products/coloris/{{ image.imagename }}" alt="" />
                            </figure>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <!-- Slider Accessoires -->
            <div class="swiper slider-images slider-accessoiries">
                <div class="swiper-wrapper">
                    {% for image in images %}
                        {% if image.imagetype == 1 %}
                            <figure class="swiper-slide slider-block">
                                <img src="../../uploads/products/accessoiries/{{ image.imagename }}" alt="" />
                            </figure>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <!-- Slider Galerie -->
            <div class="swiper slider-images slider-accessoiries">
                <div class="swiper-wrapper">
                    {% for image in images %}
                        {% if image.imagetype == 2 %}
                            <figure class="swiper-slide slider-block">
                                <img src="../../uploads/products/gallery/{{ image.imagename }}" alt="" />
                            </figure>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>


        <!-- Block 2 -->
        <div class="product-block-2 tab-container">

            <ul class="product-tab-list tabs">
                <li><a class="tab active">Description</a></li>
                <li><a class="tab">Caractéristiques</a></li>
                <li><a class="tab">Dimensions</a></li>
            </ul>
            
            <div class="tab-panes">

                <div class="tab-pane desc-pane active">
                    {% include "webpages/products/#{productFolderId}/#{productFolderId}-desc.html.twig" %}
                </div>

                <div class="tab-pane carac-pane">
                    
                </div>

                <div class="tab-pane dim-pane">
                    
                </div>
            </div>
        </div>
    </main>
    
    {% include "webpages/common_blocks/footer.html.twig" %}

{% endblock %}