{% extends 'base.html.twig' %}

{% block title %}{{ product.productmetatitle }} - Air Création{% endblock %}
{% block meta_description %}{{ meta_desc }}{% endblock %}

{% block meta %}
  <meta description="{{ productMetaDesc }}">
{% endblock %}

{% block body_class %}{{ headerType }}{% endblock %}

{% block body %}

    {% include "webpages/blocks/header.html.twig" %}

    <main id="swup">
        <!-- Main Image & Intro -->
        <section class="product-main-block">
            <div class="image">
                <figure>
                    <img src="../../uploads/images/products/thumbs/{{ product.productthumb }}" alt="{{ product.productname }}" />
                </figure>
                <select>
                    <option value="">Motorisation</option>
                </select>
            </div>
            <div class="intro">
                <!-- Logo -->
                <img src="../../uploads/images/products/logos/{{ product.productlogo }}" alt="" />
                <!-- Texte -->
                {% include "webpages/products/#{product.productid}-intro.html.twig" %}
                <!-- Blocks -->
                <div class="main-blocks-container">
                    <!-- Vitesse -->
                    {% if product.productmaxspeed  %}
                    <div class="main-block">
                        <p> 
                            {{ product.productmaxspeed }}
                        </p>
                    </div>
                    {% endif %}
                    <!-- Décrochage -->
                    {% if product.productstallspeed  %}
                    <div class="main-block">
                        <p>
                            {{ product.productstallspeed }}
                        </p>
                    </div>
                    {% endif %}
                    <!-- Masse max -->
                    {% if product.productmassspeed  %}
                    <div class="main-block">
                        <p>
                            {{ product.productmassspeed }}
                        </p>
                    </div>
                    {% endif %}
                    <!-- Consommation -->
                    {% if product.productconsumption  %}
                    <div class="main-block">
                        <p>
                            {{ product.productconsumption }}
                        </p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>

        <!-- Tabs Images -->
        <div class="images-tabs-container">

            <!-- Buttons Tabs -->
            <ul class="tabs">
                <li><a class="tab active">Galerie « En vol »</a></li>
                <li><a class="tab">Galerie « Lifestyle »</a></li>
                <li><a class="tab">Galerie « L’atelier »</a></li>
            </ul>

            <!-- Tabs Blocks -->
            <div class="tab-panes">
                <div class="tab-pane active">
                    <div class="swiper gallery-vol">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="../../uploads/images/products/carousels/fly/test.jpg" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="https://picsum.photos/390/260" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="https://picsum.photos/390/260" alt="" />
                            </div>
                        </div>
                        <div class="vol-button-next swiper-btn next">
                            <i class="fa-solid fa-chevron-right fa-3x"></i>
                        </div>
                        <div class="vol-button-prev swiper-btn prev">
                            <i class="fa-solid fa-chevron-left fa-3x"></i>
                        </div>
                    </div>
                </div>

                <div class="tab-pane">
                    <div class="swiper gallery-lifestyle">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="../../uploads/images/products/carousels/lifestyle/test.jpg" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="https://picsum.photos/390/260" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="https://picsum.photos/390/260" alt="" />
                            </div>
                        </div>
                        <div class="lifestyle-button-next swiper-btn next">
                            <i class="fa-solid fa-chevron-right fa-3x"></i>
                        </div>
                        <div class="lifestyle-button-prev swiper-btn prev">
                            <i class="fa-solid fa-chevron-left fa-3x"></i>
                        </div>
                    </div>
                </div>

                <div class="tab-pane">
                    <div class="swiper gallery-atelier">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="../../uploads/images/products/carousels/workshop/test.jpg" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="https://picsum.photos/390/260" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="https://picsum.photos/390/260" alt="" />
                            </div>
                        </div>
                        <div class="atelier-button-next swiper-btn next">
                            <i class="fa-solid fa-chevron-right fa-3x"></i>
                        </div>
                        <div class="atelier-button-prev swiper-btn prev">
                            <i class="fa-solid fa-chevron-left fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Tabs Content -->
        <div class="content-tabs-container">

            <!-- Buttons Tabs -->
            <ul class="tabs">
                <li><a class="tab active">Description</a></li>
                <li><a class="tab">Caractéristiques</a></li>
                <li><a class="tab">Dimensions</a></li>
            </ul>

            <!-- Tabs Blocks -->
            <div class="tab-panes">
                <!-- Tab Description -->
                <div class="tab-pane active">
                    <section class="desc-container">
                        {% include "webpages/products/#{product.productid}-desc.html.twig" %}
                    </section>
                </div>
                <!-- Tab Caractéristiques -->
                <div class="tab-pane">
                    <div class="carac-block-container">
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            <p>Test</p>
                        </div>
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            <p>Test</p>
                        </div>
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            <p>Test</p>
                        </div>
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            <p>Test</p>
                        </div>
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            <p>Test</p>
                        </div>
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            <p>Test</p>
                        </div>
                        <div class="carac-block">
                            <img src="https://picsum.photos/100" alt="" />
                            <p>Test</p>
                        </div>
                    </div>
                </div>
                <!-- Tab Dimensions -->
                <div class="tab-pane">
                    <div class="dims-container">
                        <h2>Dimensions</h2>
                        <img src="../../uploads/images/products/dimensions/test.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    {% include "webpages/blocks/footer.html.twig" %}

{% endblock %}